[2017-09-07 23:16] lavalamp opened #1 "Add a README, LICENSE, and CHANGELOG to this repo"

[2017-09-08 08:19] sttts commented on #1
The first two are added in https://github.com/kubernetes/code-generator/pull/3. About the CHANGELOG we should talk for all repos we publish. Even client-go is not filled with useful information. We should probably generally refer to the kube changelog and maybe tag/sort that in a way that our published repos get their own section we can link to.

[2017-09-18 22:48] hongchaodeng opened #4 "Seeking advice for using deepcopy-gen"
I tried to use deepcopy-gen on custom resource, but it doesn't work: 1. no xxx.deepcopy.go file was generated; 2. saw many confusing errors in log message.

Created this issue to seek help and advice for usng deepcopy-gen.

Here's what I did:

- Add tag to my custom resource:
[code]
  For more information, check out https://github.com/coreos/etcd-operator/blob/master/pkg/apis/etcd/v1beta1/cluster.

[2017-09-18 23:03] tamalsaha commented on #4
Hi, I have learning about code generator recently. I think I know the issue. I saw that etcd operator uses client-go 4.0.0. This repo works with client-go master. You need to use code-generators from the Kubernetes 1.7 branch.

This is what I have done with client-go 4.0 and worked for me:

- Build a docker image from Kube 1.7 https://github.com/appscode/gengo-builder/blob/master/Dockerfile
- Run

[2017-09-19 00:09] hongchaodeng commented on #4
@tamalsaha
Thanks for your help.
We want to bump up dependencies to align with upcoming k8s 1.8 .
So I update dependencies in etcd-operator to latest client-go:

[code]

Still the same error.

[2017-09-19 00:50] hongchaodeng commented on #4
@tamalsaha
One question:
I'm confused how to ensure the dependency is deterministic here:
https://github.com/appscode/gengo-builder/blob/f1e9a54e21dc712442a61fb7674d46410ab3b01a/Dockerfile#L4

[2017-09-19 01:28] tamalsaha commented on #4
My knowledge is limited regarding dependency. What I understood was that you need to use the correct version of the generator so that the **generated code uses the correct dependencies**. To compile the generator you only need the kubernetes project.

[2017-09-19 04:21] hongchaodeng commented on #4
Still failed..

I tried to generate a docker image from the same Dockerfile: https://github.com/appscode/gengo-builder/blob/f1e9a54e21dc712442a61fb7674d46410ab3b01a/Dockerfile

Then run similar commands:
[code]

still fail:
[code]

[2017-09-19 04:48] hongchaodeng commented on #4
I got it worked..
I create a `doc.go` file under the same dir:
[code]
Same command.

Thanks @tamalsaha for your help all the same. Appreciated!

[2017-09-19 04:48] #4 closed

[2017-09-20 00:17] tamalsaha opened #5 "How to use go-to-protobuf"
I would like to generate proto files for my kubernetes CRDs using go-to-protobuf. I tried to look int to the main Kubernetes repo and could not figure out how to do that. Can you give me some pointers on how to generate protobuf file from the hand written GO CRD types.

Any help is greatly appreciated!

[2017-10-01 15:03] maleck13 opened #6 "Suggestiong add boilerplate header file to this repo"
When using this repo, it still looks for the boilerplate header which is located in the kubernetes repo
https://github.com/kubernetes/kubernetes/blob/master/hack/boilerplate/boilerplate.go.txt

Wondering would it be better to have the boilerplate as part of this repo?

[2017-10-08 13:20] maleck13 opened #7 "In conversion gen if the pkg is wrong it results in nil pointer error"
When using the conversion-gen tool recently, I had accidentally misspelled the package name in the comments for conversion-gen. When I ran the conversion-gen tool it gave me an error.

The command I ran was:
[code]

The error was

[code]

It took quite some time to track down that the issue was I had misspelled as shown below in the package in the comment:
[code]

I tracked down the issue to the f

[2017-10-08 18:22] spxtr commented on #7
Just exit, since the output will probably wrong if you continue.

[2017-10-10 00:46] nilebox opened #8 "conversion-gen shouldn't import kubernetes packages by default"
If the project doesn't include dependency on kubernetes/kubernetes repo, the `conversion-gen` ends with panic (see https://github.com/kubernetes/code-generator/issues/7), because by default it includes packages from this repo: [conversion-gen/main.go#L59](https://github.com/kubernetes/code-generator/blob/master/cmd/conversion-gen/main.go#L59)

The workaround is to pass the `--extra-peer-dirs` flag

[2017-10-11 23:42] chancez opened #9 "Cannot set namespace of informers created by informer factory"
Currently the generated code outputs an interface like this:

[code]

These informers return an interface like this:

[code]

However there is no way to specify you want an informer restricted to a particular namespace. The only alternative seems to be to use the method `NewFooInformer` constructor, but then I'm creating all my Informers and Listers myself.

[2017-10-13 05:32] tamalsaha commented on #9
`v1alpha1.FooLister` should have a method list `Foos(namspace string)`. That should do what you want.

[2017-10-13 05:38] chancez commented on #9
@tamalsaha That's only for retrieving from the cache in the informer, it doesn't actually make the informer only watch/list from a particular namespace.

[2017-10-13 05:40] tamalsaha commented on #9
Ah! I did not realize that's what you wanted. Probably just write the code directly yourself. I personally find that less confusing. It is a bit of boilerplate but more readable then these factory methods with lots of  args.

[2017-10-13 18:41] chancez commented on #9
That's what I'm currently doing, but it would still be nice to be able to control the informer's namespace long term.

Theres a TON of boilerplate I have to do that the generated code completely eliminates, and it also provides a lot of nice methods for handling coordinating waiting for caches to sync, and doing shutdowns of the queues that I'm effectively just re-implementing myself. It would be

[2017-10-16 18:39] chancez commented on #9
What do you think about maybe making the Informer interfaces being updated to accept a namespace as an argument?

[2017-10-16 21:21] munnerz commented on #9
I've run into this as I'm developing controllers, and have had to develop my own pretty-flakey and overly verbose SharedInformerFactory that keys on `GroupVersionKind` & the namespace: https://github.com/jetstack-experimental/cert-manager/blob/master/pkg/util/kube/factory.go

It'd be great if we could get this into the generator. I had a go at implementing this a while back but didn't get too far,

[2017-10-17 05:34] sttts commented on #9
/cc @ncdc

[2017-10-17 07:13] munnerz commented on #9
So I've had another go implementing this - whilst on the surface it may seem simple, it's actually quite a complex change.

I opted to add `namespace` to the version interface (i.e. this one: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/sample-apiserver/pkg/client/informers/externalversions/wardle/v1alpha1/interface.go#L48) if the resource is a namespaced one. I then add

[2017-10-17 07:18] munnerz commented on #9
The other option is we make the `SharedInformerFactory` itself be a namespaced SharedInformerFactory, but I think that limits its use, and could make working with cluster scoped resources more painful.

I also had a go at doing this with ListOptions, however have found that considerably harder as the reflector actually creates the `v1.ListOptions` that get passed to the `WatchFunc` and `ListFunc`

[2017-10-17 17:27] chancez commented on #9
I would have no objects to this, and would almost prefer it. This is needed for operators/controllers running with limited permissions, running in their own namespace.

[2017-10-17 22:35] frankgreco commented on #5
I am also very interested in this.

1) How can we autogenerate `generated.proto`
2) If we do provide protobuf declarations, will they automatically be used by the apiextentions server?

[2017-10-17 22:36] frankgreco commented on #5
I believe the code to so is [https://github.com/kubernetes/code-generator/tree/master/cmd/go-to-protobuf](https://github.com/kubernetes/code-generator/tree/master/cmd/go-to-protobuf) so i'm going to try to sift through and figure out how to use that.

[2017-10-18 02:42] tamalsaha commented on #5
I have been told that protobufs can't be used with CRDs. So, it is not useful or usable for Kubernetes extensions developers.

[2017-10-18 03:13] frankgreco commented on #5
Who told you that??

[2017-10-18 03:26] tamalsaha commented on #5
From Slack:

![no-proto](https://user-images.githubusercontent.com/94814/31699727-65936a2c-b379-11e7-97f8-38bf4481fbfb.png)

[2017-10-18 03:32] #5 closed

[2017-10-20 04:47] ash2k commented on #6
Similar issue https://github.com/kubernetes/kubernetes/issues/50975

[2017-10-20 11:24] ash2k opened #11 "Make generators consumable as Bazel rules"
It'd be nice to be able to use generators in a Bazel-based build as rules. E.g. a rule for client generation, a rule for deep copy functions generation, etc. Like e.g. `rules_go`.

/cc @ixdy

[2017-10-23 15:50] pwittrock opened #13 "release1.8 client-gen doesn't accept --go-header or -o flags"

[2017-10-27 00:07] munnerz commented on #9
I've put in a pull request [here](https://github.com/kubernetes/kubernetes/pull/54660) to add a `namespace` argument to the `NewSharedInformerFactory` constructor. I'm currently generating my own informer factories for core types in order to use this with the existing types today, before the main codebase integrates these changes.

[2017-10-27 16:20] #13 closed

[2017-10-27 16:53] pwittrock opened #14 "Support auto configuring code generators with meta code-generator cmd"
User story: As a contributor, I would like to run the set of of supported code-generators against a project following the Kubernetes code structure and conventions without having to manually configure each of them and understand each of their specific semantics.

Background: The [code-generator](https://github.com/kubernetes/code-generator) repo has a dozen different code generator commands.  Each

[2017-10-27 17:24] pwittrock opened #15 "Provide binary release of code generators"
User story: As a user, I want a simple way to get executables for the code generators at a specific kubernetes release version.

`go get` gets the code generators at head, but the generators sometimes break backward compatibility.  In order to get the code generators, I need to get the code at a specific release version and then manually build them.  It would be simpler for some contributors if we

[2017-10-27 17:28] munnerz commented on #15
Have you seen the new `generate-groups` and `generate-internal-groups` in the root of this repo, merged in https://github.com/kubernetes/kubernetes/pull/52186?

These take care of compiling the generators for you, and you are able to version against specific versions of the code-generator repository using tags.

The generated code should really be pinned and kept in sync with `kubernetes/apimachin

[2017-10-27 17:30] munnerz commented on #14
Similar to my comment in #15, have you seen the code-generator scripts in the root of this repo, recently merged? These take care of running the generators for you and configuring them correctly: https://github.com/kubernetes/code-generator/blob/master/generate-groups.sh

(great work with apiserver-builder by the way!)

[2017-10-27 17:34] pwittrock commented on #14
Thanks!

@munnerz where does the script compile the code from?  does it check it out?

Also, the script does not seem to run a number of the code generators - openapi, protobuf, etc.  Are these run by another script?

[2017-10-27 17:36] munnerz commented on #14
The idea generally is to vendor the entire `code-generator` repository, and it runs `go install` to install them to your GOBIN: https://github.com/kubernetes/code-generator/blob/master/generate-groups.sh#L49

There isn't another script for those generators at the moment. That is definitely something to look into 😄

/cc @sttts

[2017-10-27 17:38] munnerz commented on #14
I think there was previously discussion about making this into a golang app actually. It was decided to put it into a script for the time being (as opposed to an initial version of the PR which was a bash library) to make the transition to a full CLI tool easier.

[2017-10-27 18:00] sttts commented on #14
This is related to https://github.com/kubernetes/kubernetes/issues/53524, maybe even is part of it.

[2017-10-27 18:01] sttts commented on #14
It's not complete, suitable for sample-apiserver mainly. And as written in https://github.com/kubernetes/kubernetes/issues/53524 this is an intermediate step before we have a better solution, e.g. a golang based tool.

[2017-10-27 19:48] pwittrock commented on #14
@sttts Glad to hear it.  Thanks for the context.  I may have someone who can work on really building upon this to produce a consumer centric solution - including a golang script and all of the accoutrements (good built in help documentation w/ examples, error checking and messaging, packaging of artifacts, etc).  If we put together a PR that took the existing script evolved it, would you be willin

[2017-10-27 20:33] pwittrock commented on #14
@sttts Also, should I go ahead and close this and the other issue then, and put them under the issue you referenced?

[2017-10-27 20:42] sttts commented on #14
@pwittrock sounds really great! Reviewing shouldn't be a big problem. I am happy to support with that myself, and I am sure the other people working in this area will offer review time too.

What I would like is a write-up of how this should look like, i.e. a proposal (in a GDoc first) with
- the overall vision and scope
- a list of use-cases we want to support
- a sketch of the tool from the end-

[2017-10-29 03:28] ash2k opened #16 "glog doesn't like it when non-standard flag package is used"
Note the `ERROR: logging before flag.Parse`:
[code]

[2017-10-29 04:23] ash2k commented on #13
This is still an issue, isn't it? The option is no longer accepted so if it is provided, it fails with:
[code]
If it is omitted it fails with:
[code]
That means the latest gengo revision 70ad626ed2d7a483d89d2c4c56364d60b48ee8fc is unuseable outside of k/k repo. Am I missing something?

The behaviour has changed after https://github.com/kubernetes/gengo/pull/80 - commit before the merge works fine.

[2017-10-29 12:48] sttts commented on #13
@ash2k not sure I can follow you. If you use the gengo we have in Godeps.json (70ad626ed2d7a483d89d2c4c56364d60b48ee8fc) it works. We never claim that our code works with master of dependencies. Here we are (un)lucky that compilation breaks. In the worst case our release branches will not even compile with master of the dependencies.

[2017-10-29 23:28] ash2k commented on #13
@sttts sure, that's fine. My comment was more to let you know in advance that things are not working.

[2017-10-30 22:04] #14 closed

[2017-10-30 22:04] pwittrock commented on #14
closed in favor of kubernetes/kubernetes#53524

[2017-10-30 23:03] n3wscott opened #18 "Feature Request: Add the ability to support gomock go:gen comments?"
It would be handy if there were mocks of the generated interfaces from these generators. Seems like it would not be a huge deal to add given that these are already autogenerated.

Thoughts?

Example:

[code]

Source: https://blog.codecentric.de/en/2017/08/gomock-tutorial/

[2017-10-30 23:04] n3wscott commented on #18
the `//go:generate` line would be the addition.

[2017-11-01 22:01] mtaufen opened #19 "generate-groups.sh doesn't like API groups that use `.` in the name"
Two things, actually:
- If I name a group `thing.k8s.io`, `generate-groups.sh` requires that the version directories be in a directory named `thing.k8s.io`.
- If you comply, then `generate-groups.sh` will try to import e.g. the `v1alpha1` package as `thing.k8s.iov1alpha1 "..."`, which is not a valid go import. gofmt then fails on the `.`s and everything explodes.

[2017-11-01 22:04] lavalamp commented on #19
cc @caesarxuchao @mbohlool

[2017-11-02 07:09] ianlewis opened #20 "Imports lowercased"
Several packages are lowercased during package generation. This causes import errors if, for instance, your Github account uses uppercase characters.

Some packages are also generated under lowercased paths so these packages are generated under a different directory than your project. For example my project might be in $GOPATH/src/github.com/IanLewis/myapp and code-generator will generate some fil

[2017-11-04 03:03] markmandel opened #21 "Generator only works if k8s.io/apimachinery is in the $GOPATH"
Whenever I attempt to run `update-codegen.sh` , but constantly get the below stacktrace.

[code]

I created a simple test case using a Dockerfile below, using the sample-controller example, which replicates the problem.

[code]

Help?

[2017-11-04 21:41] markmandel commented on #21
I worked out the issue - this doesn't work unless k8s.io/apimachinery is in the GOPATH, if it is just vendored, then deepcopy can't find it. At the very least, this needs to be documented somewhere.

[2017-11-06 06:12] mvladev opened #22 "Hyphen as last subdomain in groupName breaks client generation"
When using groupName as `example.code-generation.k8s.io` the client generation works.
Changing it to `code-generation.k8s.io` causes the generated clients to be broken:

https://github.com/mvladev/code-generation:

[code]

- bad imports `code-generatorv1 "github.com/mvladev/code-generation/client/clientset/versioned/typed/code-generator/v1"`
- interfaces have hyphen in them `Code-generatorV1() cod

[2017-11-09 18:15] #9 closed

[2017-11-25 15:46] kopiczko commented on #6
I just ran into that issue. We run `generate-groups.sh` from vendor directory to make it reproducible. When `k8s.io/kubernetes/hack/boilerplate` isn't in the `$GOPATH` `generate-groups.sh` complains:

[code]

[2017-11-27 23:44] markmandel opened #24 "Autogenerate register.go files"
Looking at register.go - it looks like these could be generated via this tool as well.

When implementing a CRD it's not very clear what to put in these files, and a simple copy paste from the `sample-controller` with minor edits works, but it seems like this could be easily solved via code generation, which would also solve the documentation issue.

Extra context:
https://kubernetes.slack.com/arc

[2017-11-28 13:36] sttts commented on #24
This could be something for kube-gen https://github.com/kubernetes/community/pull/1315.

[2017-11-30 13:37] xh3b4sd opened #25 "type net.IP has no field or method DeepCopy"
When generating clients for types that refer to `net.IP` the code generator generates invalid go code which is not able to compile. See for instance https://github.com/giantswarm/apiextensions/pull/16. I am wondering how this is supposed to work. Can somebody elaborate on this? Our workaround was to rather use type `string` than `net.IP` but I feel like this should be fixed upstream. Cheers.

[2017-12-05 03:45] lidajia commented on #4
I tried to use deepcopy-gen on custom resource with k8s 1.8.3, but get some errors. I have created the doc.go.  I'm seeking for some advice
here is the error info:
I1205 11:28:10.736185    6980 parse.go:417] type checker: E:\Go\src\runtime\trace.go:150:30: cannot use (traceBufHeader literal) (value of type traceBufHeader) as unsafe.ArbitraryType value in argument to unsafe.Sizeof
I1205 11:28:10.75

[2017-12-06 22:59] grillz opened #27 "docs"
Hey, this project looks super useful, but its still very unclear on how to utilize it. Would it be possible to get some better docs?

[2017-12-07 01:36] markmandel commented on #27
You have a look at: https://github.com/kubernetes/kubernetes/pull/56452 (to be synced)

It links to some existing articles, but proper documentation would be ideal.

[2017-12-12 03:40] erictune opened #28 "Generate json-schema from go types"
When you create a CRD, it can have a schema defined using json-schema.

In github.com/kubernetes/sample-controller the client libraries for a controller are generated from a go API definition, and CRDs are created, but there is no schema for the CRD, which means less validation.

It would be nice to generate the json-schema for the CRD from the Go types.  So, this is proposing a new generator that

[2017-12-12 03:41] erictune commented on #28
xref https://github.com/kubernetes/sample-controller/issues/2

[2017-12-12 04:08] nikhita commented on #28
/cc @sttts @munnerz @mbohlool

[2017-12-12 06:45] sttts commented on #28
@erictune we discussed the very same idea at KubeCon. We have openapi-gen which produces a Golang snippet now which is very similar to a JSON Schema already. @munnerz wanted to prototype a change to openapi-gen with your described goal.

[2017-12-12 07:01] jinghzhu commented on #21
+1 for fix or documentation.

I encounter the same issue and only find the solution mentioned before by Google.

[2017-12-12 07:36] sttts commented on #21
@markmandel @jinghzhu do you have a small example repo where this can be seen?

[2017-12-12 10:04] nikhita commented on #1
xref https://github.com/kubernetes/test-infra/issues/5843, https://github.com/kubernetes/client-go/pull/341.

[2017-12-12 10:24] munnerz commented on #28
Yep - likely I won't have a chance to get onto this until next week, as this is my final week before xmas. I think @sttts and I discussed initially adding an 'output format' parameter to openapi-gen in order to facilitate this.

[2017-12-12 15:11] markmandel commented on #21
@sttts you can copy the above section into a `Dockerfile` and do a `docker build .` and see the failure in action :smile:

[2017-12-12 19:17] mbohlool commented on #28
/assign

[2017-12-13 11:46] sttts commented on #21
The cause for the issue described above is that the generators are not called from the sample-apiserver directory. Only then gengo (the Golang parsing library below) can pick up the vendor/ directory properly. The following Dockerfile passes the deepcopy-gen call, but fails at client-gen (compare https://github.com/kubernetes/kubernetes/pull/57143 for a fix).

[code]

[2017-12-13 11:47] sttts commented on #21
PR welcome to improve our codegen shell scripts to cope with out-of-dir invocations.

[2017-12-13 11:47] sttts commented on #21
Also not that the package is called `k8s.io/sample-controller`, not `github.com/kubernetes/sample-controller`.

[2017-12-27 05:04] prateeknayak commented on #6
Ran into the same issue with code-generator version `1.8.6` ... it seems as if `client-gen` does not like the `--go-header-file` flag where as the `deepcopy-gen` will default to `<kuberepo>/hack/boilerplate/boilerplate.go.txt` if `--go-header-file` not provided.

[2017-12-27 11:52] nikhita commented on #6
Created https://github.com/kubernetes/kubernetes/pull/57656.

/cc @sttts

[2017-12-28 03:58] nikhita commented on #7
Fixed in https://github.com/kubernetes/kubernetes/pull/53567.

Closing.
/close

[2017-12-28 03:58] #7 closed

[2017-12-29 17:38] rahulkrishnanfs commented on #21
I am facing the same issue

[2017-12-29 18:13] sttts commented on #21
@rahulkrishnanfs compare my comment https://github.com/kubernetes/code-generator/issues/21#issuecomment-351368398. You have to call the generator script with a relative CODEGEN_PKG. Does it help?

[2017-12-30 02:57] mattkelly opened #30 "Generated files should follow golang standard for machine-generated files to avoid golint issues"
# Overview

Files generated by `code-generator` currently have a lot of issues picked up by `golint`. There are a few options to fix this:

- Fix the actual lint issues in the generated code
    - This would require fixing the existing generated code and putting a process in place for the future to prevent lint issues in generated code from being merged
- Ignore the generated files in some other w

[2017-12-30 07:57] nikhita commented on #30
Related https://github.com/kubernetes/kubernetes/issues/56489.

[2018-01-08 07:01] nikhita commented on #8
/remove-lifecycle stale

[2018-01-10 23:02] jennybuckley commented on #30
@mattkelly Does <generator-name> mean "deepcopy-gen", "conversion-gen", etc?
something like [this](https://github.com/jennybuckley/kubernetes/commit/5e08d48db12aa1731140569704b99a85a084c343#diff-adbf28db38aa87bec4de21d975b0078eR114)?

[2018-01-10 23:07] mattkelly commented on #30
@jennybuckley yup, that's what I was picturing. That looks good to me!

[2018-01-12 22:07] frankgreco opened #31 "Place DeepCopy Funcs in Separate package than types"
As the actual types are in the same package as the generated DeepCopy funcs, the GoDoc has a lot of extra noise in it.

[2018-01-25 23:33] perotinus opened #32 "go-to-protobuf should not always run goimports"
Currently, when running `go-to-protobuf`, `goimports` and `gofmt` are run under the assumption that they are in the PATH. This does not always hold true. There is an option to `skip-generated-rewrite`, but that is said to be for debugging only.

It should be possible to run `go-to-protobuf` without running `goimports` and `gofmt` on the generated product, if desired.

[2018-01-26 09:21] sslavic commented on #6
Ran into same issue as @prateeknayak. It used to be possible to use `generate-groups.sh all` and pass `--go-header-file` flag. Now, while using code-generator release-1.8, `deepcopy-gen` passes but `client-gen` fails as it doesn't need/accept `--go-header-file` flag.

Running `generate-groups.sh all` without `--go-header-file` flag makes `deepcopy-gen` fail, since it's looking for default boilerpl

[2018-01-26 09:58] sslavic commented on #6
Tried working around the issue by running generators independently:
- only `deepcopy` passes with `--go-header-file` flag set
- `client` generator doesn't ignore `--go-header-file` being set, it fails when the flag is set and outputs usage instructions, and it also fails when it's omitted because it cannot load the default boilerplate file
- `lister` and `informer` generators both seem to ignore `

[2018-01-26 14:11] sslavic commented on #6
Problem goes away when using release-1.9 (over release-1.8) - all 4 generators accept `--go-header-file` flag.

[2018-01-31 07:44] nikhita commented on #20
/remove-lifecycle stale

[2018-02-02 05:25] mtaufen commented on #19
/remove-lifecycle stale

[2018-02-02 15:08] munnerz commented on #19
I'm not seeing this behaviour - have you got some example code to help demonstrate?

My doc.go specifies a group name containing multiple `.`: https://github.com/jetstack/navigator/blob/master/pkg/apis/navigator/v1alpha1/doc.go

[2018-02-09 19:49] mtaufen commented on #19
Ah, sorry, I should have clarified; this happens if you make the directory name match the group name, and the name includes dots; e.g. `pkg/apis/thing.k8s.io`.

For now, it seems everyone gets around this by avoiding dots in the dir names.

[2018-02-12 18:55] frankgreco commented on #16
I just encountered this as well

/remove-lifecycle stale

[2018-02-13 11:41] #6 closed

[2018-02-15 23:22] chancez opened #33 "sub-informers not started if not accessed before informerFactory.Start()"
I was looking at the generated informer factory code produced by code-generator, and couldn't figure out where the actual informers were being created, and found the following (sample-controller):
-  `InformerFor()` is where informers are created`: https://github.com/kubernetes/sample-controller/blob/master/pkg/client/informers/externalversions/factory.go#L114
- `InformerFor()` is only called when

[2018-02-19 18:44] tamalsaha opened #34 "Support building inside Docker image"
We are using code-generator Docker image to generate client etc for our controllers.

We build a docker image from this Dockerfile: https://github.com/appscode/gengo-builder/blob/release-1.9/gengo/Dockerfile

We had to make one change to the generate-*.sh scripts included in this repo is to avoid running `go install`. Here is the commit: https://github.com/appscode/code-generator/commit/93af39dc60

[2018-02-22 19:21] ixdy commented on #11
/remove-lifecycle rotten

[2018-02-22 19:21] ixdy commented on #11
/assign

[2018-02-26 14:24] nikhita commented on #24
/remove-lifecycle stale

[2018-02-27 22:12] jennybuckley commented on #30
/close
https://github.com/kubernetes/kubernetes/pull/59674

[2018-02-28 21:24] #18 closed

[2018-03-06 14:44] tanner-bruce commented on #25
I believe I am seeing the same behaviour when trying to use a struct inside my CRD spec that comes from another package

[2018-03-07 20:53] perotinus commented on #28
+1 to this. I'm looking into having the cluster registry be a CRD and this would be a boon for that.

[2018-03-08 07:31] sttts commented on #28
https://github.com/kubernetes/kube-openapi/pull/37 needs review time.

[2018-03-08 07:34] munnerz commented on #28
I’m happy to follow up with additional features (such as comments tags to
allow specifying regex’s to validate with, etc) once the structure/design
is accepted too.

I just didn’t want to rush ahead and introduce a load of new functionality
without being sure that the way it’s implemented makes sense!
On Thu, 8 Mar 2018 at 07:31, Dr. Stefan Schimanski <notifications@github.com>
wrote:

[2018-03-12 05:27] nikhita commented on #27
/remove-lifecycle stale

[2018-03-12 05:28] nikhita commented on #27
Btw this is now synced.

[2018-03-14 11:14] tamalsaha opened #35 "Provide an explicit way to tell that a package is for internal types aka allow json tags in internal types"
code-generate currently uses a super unintuitive way to determine that a package is for `internal` types. It checks that the `ObjectMeta` field does not have `json` tag.
https://github.com/kubernetes/code-generator/blob/893b4433a4ba929dd0dacebf7c8956682d7a5d5f/cmd/lister-gen/generators/lister.go#L174

This is really a bummer when you just copy the versiobed types as the internal types and can't fi

[2018-03-14 11:14] tamalsaha commented on #35
cc: @sttts

[2018-03-14 11:54] tamalsaha opened #36 "Support code generation for repositories that use both CRD and EAS"
I have a repo, where we only had CRDs. So, I used the generate-groups.sh script.
Now, we have added an EAS in the same repo.
Now, I have to use generate-internal-groups.sh for all types
because I want to have a single client package.
So, I am forced to add internal types even for CRDs now.

It will be good not to have to have internal types for CRDs.

cc; @sttts

[2018-03-14 12:04] tamalsaha commented on #35
It seems only listers and informers are affected https://github.com/kubernetes/code-generator/search?utf8=%E2%9C%93&q=isInternal&type=

[2018-03-14 12:04] sttts commented on #36
As discussed on slack, IMO the right approach is to create a versioned client (via generate-groups.sh) for both EAS+CRD types to get one clientset. Then for deepcopy,conversion,defaulter call the generator-internal-groups.sh script against the EAS resources.

[2018-03-14 12:44] tamalsaha commented on #36
Based on @sttts ' suggestion I have done this https://github.com/appscode/searchlight/blob/master/hack/codegen.sh

- First generate "deepcopy,defaulter,conversion" using generate-internal-groups.sh for EAS types.
- Then generate all using generate-groups.sh for all types (CRD + EAS)

[2018-03-14 12:44] #36 closed

[2018-03-14 13:54] sttts commented on #35
Is this less urgent now that you don't have to create internal types for CRDs anymore?

[2018-03-16 13:37] tamalsaha commented on #35
@sttts , it is less urgent for me because I am never going to make this mistake again. :)

Anyone writing their own EAS may fall into this trap.

[2018-03-19 17:56] erictune commented on #28
I just came across this which looks similar:
https://github.com/ant31/crd-validation

[2018-03-22 09:22] AkihiroSuda commented on #20
This is critical for me, any update?

[2018-03-26 13:19] asymmetric opened #37 "EvalSymlinks: too many links"
I'm getting an `EvalSymlinks: too many links` error when trying to generate a client:

    CODEGEN_PKG=../../../k8s.io/code-generator hack/update-codegen.sh

on [this](https://github.com/kinvolk/habitat-operator/tree/14ae480d50bae24dd3260a0ade8d0300da3f387b) repo.

While looking into this, it seems that the error happens when generating code for the `fake` package:

[code]

(Note: I added the debu

[2018-03-26 18:59] #15 closed

[2018-04-02 17:08] wstrange commented on #20
Is there any workaround for this?

[2018-04-10 07:10] justlaputa commented on #22
this issue is not solved yet, can anyone open it again?

[2018-04-11 04:40] nikhita commented on #22
/reopen

[2018-04-11 04:40] nikhita commented on #22
/assign
/reopen

[2018-04-11 04:41] nikhita commented on #22
/reopen

[2018-04-11 04:42] nikhita commented on #22
/remove-lifecycle rotten

[2018-04-12 18:04] trstringer opened #38 "generate-groups.sh not creating lister and informer"
When I invoke `generate-groups.sh` by specifying all generators, informers and listers are not created in my package. Logging doesn't give any indication of failures. Below is a repro for me.

Is there something I'm doing wrong in my workflow to generate and scaffold out the code for a custom resource controller?

[code]

It's also worth mentioning that after the above repro, I modified the `gener

[2018-04-13 06:06] sttts commented on #38
https://github.com/trstringer/testcontroller – 404.

[2018-04-13 15:15] trstringer commented on #38
I figured it out. I was missing the necessary tags in my API package.

[2018-04-13 15:15] #38 closed

[2018-04-14 13:16] nikhita commented on #31
/remove-lifecycle stale

[2018-04-17 06:47] marsfun commented on #37
+1

[2018-04-17 09:11] asymmetric commented on #37
I realized that this was happening because I was running the `master` branch generator against a client-go v6.0.0 codebase.

As soon as I switched to `release-1.9`, the error went away.

[2018-04-20 18:12] etsangsplk opened #39 "Inconsistency of generated informers and the rest when CRD names ends in "s" and if CRD name has capital letters within the word"
For example:
if crd kind singualr is kinesis  ->> the generated code for informers becomes kinesises , it automatically try to "correct" the word by adding an "e", but they keep kinesiss for the rest of the generated code. The crd requires plural is just adding a s to singular in order to properly create it in the k8s master.  So I cannot fix one without failing the other.

Another example:
If my

[2018-04-21 17:14] tamalsaha commented on #39
Try with the 1.10 release. There were some fixes done in this pluralization logic.

[2018-04-22 13:10] tamalsaha opened #40 "deepcopy-gen does not work with circular references"
I am trying to generate deepcopy where two types depend on each other. `DeepCopyInto` method is not generated for the alias type.

Here is an example repo that shows the bug: https://github.com/tamalsaha/kube-deepcopy-bug
Types: https://github.com/tamalsaha/kube-deepcopy-bug/blob/master/apis/demo/v1alpha1/types.go

cc: @sttts

[2018-04-22 13:24] tamalsaha commented on #40
/kind bug

[2018-04-22 13:53] sttts commented on #40
Compare with https://github.com/kubernetes/gengo/blob/master/examples/deepcopy-gen/output_tests/aliases/doc.go. Aliases of slices should work.

[2018-04-22 14:10] tamalsaha commented on #40
I was using code-generator from 1.9 release. That was causing problem. I switched to code-generator from 1.10 release. That seems to be working fine. Thanks @sttts .

[2018-04-22 14:10] #40 closed

[2018-04-22 19:24] LiliC commented on #37
@asymmetric thanks, this saved me some time! :)

@nikhita @sttts Could we maybe add the above to the README? Would be super helpful IMO.

[2018-04-23 02:43] nikhita commented on #37
@asymmetric I'm not able to reproduce this on the repo you mentioned: https://github.com/kinvolk/habitat-operator/tree/14ae480d50bae24dd3260a0ade8d0300da3f387b.

@asymmetric @LiliC Is it reproduceable for you always? (seems like it should be though)

And this error occurs if the number of symlinks to evaluate is >255:
https://golang.org/src/path/filepath/symlink.go#L37

[2018-04-24 19:38] LiliC opened #41 "deepcopy file fails to generate if there is a missing doc.go file"
While running the deepcopy file generation, there were no error msgs indicating that something fails, just the file was not generated. Took me a bit longer to figure out I forgot to create the `doc.go` file. I think it would be useful to error out if the doc.go file is not in the correct path. I ran the following command with no doc.go file and got the same output as when it was successful:

[code

[2018-04-24 19:46] sttts commented on #41
Wasn't the actual problem that the deepcopy-gen=package tag was missing in the doc.go (because there wasn't doc.go) ?

There might be valid cases when you don't want package wide generation for deepcopy. Am not really sure how a good UX would look like. Am not sure that the missing doc.go should be a fatal error, but maybe a warning?

[2018-04-24 20:49] LiliC commented on #41
Yes, sorry that was the actual problem.

A warning would be super useful as well!

[2018-04-26 11:24] sttts commented on #41
@LiliC do you feel like creating a PR? https://github.com/kubernetes/gengo/blob/master/examples/deepcopy-gen/generators/deepcopy.go#L145 should be a good place for such a warning.

[2018-04-26 12:01] sttts commented on #37
What exactly?

[2018-05-05 15:08] #25 closed

[2018-05-09 17:50] tamalsaha opened #42 "Support generating Get method custom options in genclient"
We have a use-case where we pass extra options via query parameter to our EAS. We implement the  [`GetterWithOptions`](https://github.com/kubernetes/apiserver/blob/master/pkg/registry/rest/rest.go#L122:4) interface in rest storage.

Currently there is no way to generate `Get` method with custom options. I am thinking supporting `input` arg for `Get` verb. Example:
`// +genclient:method=Get,verb=ge

[2018-05-09 17:51] tamalsaha commented on #42
cc: @sttts @deads2k @shudipta

[2018-05-15 21:00] n3wscott commented on #20
The issue comes from here: https://github.com/kubernetes/code-generator/blame/c7a364cb8cf12ce4704f017c0a403c55db3e752b/cmd/client-gen/generators/generator_for_clientset.go#L63

I am looking into a fix.

[2018-05-15 22:16] n3wscott commented on #20
Also here: https://github.com/kubernetes/code-generator/blob/master/cmd/client-gen/generators/scheme/generator_for_scheme.go#L72

[2018-05-17 16:18] magaldima commented on #37
+1 @asymmetric I have the following dependencies and I am still getting this error.
`k8s.io/code-generator branch release-1.9`
`k8s.io/client-go v6.0.0`

[2018-05-24 14:43] jessfraz opened #43 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-05-28 20:14] #21 closed

[2018-05-30 17:15] from-nibly opened #44 "generate-groups.sh no openapi"
is there a reason the openapi-gen command is excluded from the generate-groups.sh file? can it be included?

[2018-05-30 21:17] ixdy commented on #11
/remove-lifecycle stale

[2018-06-06 01:00] wryun opened #45 "deepcopy-gen does not generate correctly for []*string"
[code]
(i.e. attempts to call DeepCopyInfo on each *string in the array)

@sttts @ash2k

[2018-06-06 07:31] sttts commented on #45
Can provide a complete example project?

[2018-06-07 08:59] #8 closed

[2018-06-11 17:07] lavalamp commented on #28
I expect we will take this on in kube-openapi and not here.

[2018-06-13 14:43] sttts commented on #45
Reopening until https://github.com/kubernetes/kubernetes/pull/65050 merges.

/reopen

[2018-06-13 14:45] sttts commented on #45
/reopen

[2018-06-15 18:55] grantr opened #46 "Why not generate defaulters in generate-groups.sh?"
I'm writing a CRD that uses defaulters. The documentation for generate-groups.sh states that it can generate defaulters (`the generators comma separated to run (deepcopy,defaulter,client,lister,informer) or "all".`) but it doesn't actually.

Is this intentional? Defaulters do get generated for internal types, but I haven't seen a clear definition of internal versus external so I don't know what ty

[2018-06-25 01:55] #32 closed

[2018-07-02 10:45] sttts commented on #24
/remove-lifecycle rotten

[2018-07-04 19:18] cmoulliard opened #47 "lister.go:78] unable to find ObjectMeta for any types in package"
When I run the following command

[code]

on this project - https://github.com/cmoulliard/k8s-team-crd

I get this error

[code]

[2018-07-04 19:43] tamalsaha commented on #47
`// +genclient` comment should be above `Team` struct .

[2018-07-05 05:11] cmoulliard commented on #47
Many thanks for your help

[2018-07-05 05:11] #47 closed

[2018-07-08 05:09] fudali113 opened #49 "UpdateStatus error: the server could not find the requested resource"
I've customized a CRD object
[code]
my code:
[code]
i can Get it, but update status get an `error: the server could not find the requested resource (put goodjobs.goodjob.k8s.io test)`

logs:
[code]

[2018-07-08 05:37] tamalsaha commented on #49
For `UpdateStatus` to work for CRDs, you need to use status subresource. This is default on from 1.11 release. In prior versions, you have to just use the Update or Patch method.

[2018-07-09 11:52] fudali113 commented on #49
@tamalsaha thanks, i fixed it, please close this issue

[2018-07-09 21:43] #19 closed

[2018-07-10 06:48] nikhita commented on #22
/remove-lifecycle stale

[2018-07-16 01:08] #33 closed

[2018-07-17 15:51] antoineco opened #50 "deepcopy: val.DeepCopyinterface undefined"
The following types:

[code]

yield the following code:

[code]

which yields the following compiler error:

`val.DeepCopyinterface undefined (type interface {} is interface with no methods`

[2018-07-23 12:58] xieydd opened #51 "generate-groups.sh Error"
When I run office example,I meet this error.Someone help me ?
[code]

[2018-07-28 23:12] #34 closed

[2018-08-01 12:14] cocotton opened #52 "Unable to use slices and maps inside anonymous structures"
I'm writing a Kubernetes Controller listening on an *Environment* Custom Resource.

The *pkg/apis/environment/v1alpha1/types.go* has the following content:

    package v1alpha1

    import (
    	meta_v1 "k8s.io/apimachinery/pkg/apis/meta/v1"
    )

    // +genclient
    // +genclient:noStatus
    // +k8s:deepcopy-gen:interfaces=k8s.io/apimachinery/pkg/runtime.Object

    // Environment describes

[2018-08-02 02:05] kdomanski commented on #37
An older version of `golang.org/x/tools/imports` (used in the code generator) not only produces this error upon encountering circular symlinks, but also scans packages in your GOPATH which it has no business scanning.
I encountered the issue on `golang.org/x/tools/imports` revision `ce871d178848e3eea1e8795e5cfb74053dde4bb9`. The `github.com/snapcore/snapd` repo in my `GOPATH` conveniently contains

[2018-08-09 12:44] #1 closed

[2018-08-12 15:00] nikhita commented on #31
I think this is true for _all_ types now (even built-in) and changing it would have a bigger cost than fixing godoc.

@sttts opinions?

[2018-08-12 15:00] nikhita commented on #31
/remove-lifecycle rotten

[2018-08-13 11:36] rbtcollins opened #53 "Support for different plural forms (feature request)"
We have a custom resource with a non-s plural form (Lets say a Bison CRD) - the plural of Bison is Bison.

The API server etc all seem to handle this fine, but I can't see a tag to control this in code-gen at the moment. Right now I'm handling that by post-processing the generated code (sed -e /bisons/bison/) but this is suboptimal.

[2018-08-16 09:18] sttts commented on #31
This won't be changed any time soon. Is there no way to opt-out of doc generation for a method?

[2018-08-24 17:05] sgnn7 opened #54 "Add ability to create binary versions of k8s/code-generator helpers"
Currently, given that there is no good option to run code generators in a [go modules](https://github.com/kubernetes/kubernetes/issues/67566) environment and given the need for some people to run the code generators in a minimal environment, some type of build script should be ideally available for this task to create portable binary runners.

Relevant go mod Issue: https://github.com/kubernetes/k

[2018-08-24 17:07] nikhita commented on #54
/cc @munnerz @sttts

[2018-08-24 17:14] sgnn7 commented on #54
Closing since it looks like we are supposed to open the issue in the main repo: https://github.com/kubernetes/kubernetes/issues/67837

[2018-08-24 17:14] #54 closed

[2018-09-04 00:28] yuchengwu commented on #50
Me too, currently I manually replace `val.DeepCopyinterface{}()` with [Copy(val)](https://github.com/mohae/deepcopy/blob/master/deepcopy.go#L27),  not a solution but it works

[2018-09-17 22:08] erutherford commented on #20
This is definitely still an issue could someone please remove the rotten flag from this?

[2018-09-17 22:41] ianlewis commented on #20
Not sure it will work for me but..
/remove-lifecycle rotten
/remove-lifecycle stale

[2018-09-18 19:31] #39 closed

[2018-09-18 22:04] wking opened #56 "Should consumers use deepcopy-gen from here or gengo?"
The implementations are clearly related, but not identical:

[code]

If this repository is supposed to be the canonical home, I'd expect the tests to move over here and all of `examples/deepcopy-gen` to be removed from gengo (to be replaced with a link pointing at this repo, if folks wanted an example of gengo in action?).  As it stands, I'm not clear if I should be recommending:

[code]

or:

[co

[2018-09-23 13:30] #41 closed

[2018-09-27 18:46] from-nibly commented on #44
closing because of no response...

[2018-09-27 18:46] #44 closed

[2018-09-27 19:35] from-nibly commented on #44
That makes sense. Thank you for your response!

[2018-09-28 04:49] ash2k commented on #11
/remove-lifecycle rotten

[2018-09-30 11:44] nikhita commented on #24
/remove-lifecycle stale

On Sun, Sep 30, 2018 at 5:13 PM fejta-bot <notifications@github.com> wrote:

[2018-10-03 12:09] tcolgate opened #57 "go modules support"
The generators insist on putting generated code into the GOPATH, rather than relative to the local directory the tool is running in.

For the simplest use case of generating code for a single controller, it seems like it should be possible to support building/generating outsisde of a GOPATH, using go modules. It's not clear to me what other use cases this tool supports, and/or if using it outside

[2018-10-05 11:45] #20 closed

[2018-10-07 12:31] nikhita commented on #49
/close

[2018-10-07 12:31] #49 closed

[2018-10-07 14:31] #42 closed

[2018-10-08 07:48] nikhita commented on #22
/remove-lifecycle stale

[2018-10-25 09:07] jsobon-codi opened #58 "Type k8s.io/apimachinery/pkg/runtime.Object is not an interface, but: """
I have a simple setup, generating a client for Pod and Pod list, yet it fails on `Generating deepcopy funcs` step with the following error on two different machines:
[code]
I have set up the following Dockerfile, so that anybody can reproduce (in a way):
[code]

Which results in this error message:
[code]
I know this might be too specific, but I'll appreciate any hints and/or help.

[2018-10-25 13:45] #58 closed

[2018-10-30 02:43] ash2k commented on #16
/reopen
/remove-lifecycle rotten
/lifecycle frozen

[2018-10-30 05:41] luguoxiang opened #59 "Why informer-gen need genclient:nonNamespaced annotated by SecondClosestCommentLines"
I created a custom resource named Installation and add following annotation so that code-generator can generate code for me. The annotation works for deepcopy-gen and client-gen, but it seems informer-gen can not recognize  "genclient:nonNamespaced".
[code]
After reading the code informer-gen/generaters/versioninterfaces.go , It seems the annotation must be written like following(SecondClosestComm

[2018-11-12 20:45] #46 closed

[2018-11-14 10:04] sttts commented on #31
As this won't happen because
- it breaks all existing code using deepcopy
- it leads to ugly func names
- and it makes `DeepCopyObject` like interface implementation impossible
let's close this issue.

[2018-11-14 10:04] #31 closed

[2018-11-30 01:16] cocotton commented on #52
/close

[2018-11-30 01:17] #52 closed

[2018-12-12 17:51] nikhita commented on #57
/cc @sttts

[2018-12-12 17:54] nikhita commented on #16
@ash2k Is this still relevant with klog?

[2018-12-12 17:55] nikhita commented on #22
/unassign

Un-assigning right now, but will take a look later.

[2018-12-12 17:56] nikhita commented on #22
/kind bug

[2018-12-12 17:57] nikhita commented on #24
Same issue reported in k/k: https://github.com/kubernetes/kubernetes/issues/65612. Closing this in favour of it.

/close

[2018-12-12 17:57] #24 closed

[2018-12-12 17:58] nikhita commented on #53
/kind feature

[2018-12-12 17:59] nikhita commented on #59
@sttts I think you fixed something similar to this?

[2018-12-12 18:53] ash2k commented on #16
I haven't tested but I guess it is not. Worth testing before closing I think. I haven't updated all our stuff to use 1.13/klog libraries - this is in progress. Once we are there, I can see it this issue still exists.

[2018-12-18 11:32] sttts commented on #59
@nikhita in gengo, but not in general if I remember right.

[2018-12-18 11:32] sttts commented on #59
PR very welcome

[2018-12-18 11:43] nikhita commented on #59
I can take a look at this, but not assigning myself since I've got some stuff on my plate already. Will get back to this in a few days, if no one has already solved it.

[2019-01-10 13:57] kylehodgetts opened #62 "No documentation for genclient tags"
I'm trying to find a list of tags available and what they all do but I can't find them in the repo. Does such a document exist?

https://medium.com/@trstringer/create-kubernetes-controllers-for-core-and-custom-resources-62fc35ad64a3

This is the best upto date article I've found regarding code generation

[2019-01-11 08:34] owenliang opened #63 "The lister doesn't use the right key format when namespace is empty."
The key format in informer's store is "namespace/name" if namespace is not empty else "name" only.

But the generated lister doesn't follow this rule:
[code]

and result into not founding error below：

[code]

nginx.mycompany.com "my-nginx" not found

So I have to fix it by myself:

[code]

any help, thanks.

[2019-01-26 21:19] tmc commented on #58
@jsobon-codi what was the resolution here?

[2019-01-28 16:12] Kyrremann commented on #59
Has anyone checked more into this?

[2019-02-15 23:30] #56 closed

[2019-02-25 06:08] #11 closed

[2019-03-02 03:07] followumesh commented on #58
Can you please explain what you mean by that. I also encountered the same problem? Thanks

[2019-03-02 03:28] followumesh opened #64 "unable to find ObjectMeta for any types in package github.com/sample-controller/pkg/apis/myreq/v1"
I referred to issue #47. However, it appears to be something else.
I'd appreciate any hints and/or help.
[code]

[2019-03-04 09:27] Cospotato opened #65 "Cannot generate code"
## What I do?

[code]

## What I get?

[code]

## echo $GOPATH

[code]

### pwd

[code]

[2019-03-04 09:59] Cospotato commented on #65
Need create package manually

[2019-03-04 09:59] #65 closed

[2019-03-12 18:22] rbtcollins commented on #53
/remove-lifecycle stale

On Wed, 13 Mar 2019, 07:11 fejta-bot, <notifications@github.com> wrote:

[2019-03-24 15:59] ll837448792 opened #67 "deepcopy-gen cannot recognize alias"
I have a type like:

type MyType string
And deepcopy-gen report following error：

deepcopy.go:866] Hit an unsupported type invalid type

![my code](https://user-images.githubusercontent.com/21979752/54881999-b296df80-4e90-11e9-8521-2bd86705b807.png)

So I have to remove the alias and use string directly. Does i miss something ?

![execute error info](https://user-images.githubusercontent.com/21979

[2019-03-24 22:55] #67 closed

[2019-04-10 06:04] amiramw opened #68 "Windows gitbash support"
It seems that generate-groups.sh doesn't work properly when running in windows using gitbash.

I created a minimal repo: https://github.com/amiramw/go-k8s-crd-gen

The error I get is:
[code]

[2019-04-11 22:19] nikhita commented on #57
Go modules support is now in.

/close

[2019-04-11 22:19] #57 closed

[2019-04-15 05:28] mbohlool commented on #28
/unassign mbohlool

[2019-04-15 09:14] sttts commented on #28
Work on this is going on in http://github.com/kubernetes-sigs/controller-tools.

[2019-04-16 20:19] christopherhein commented on #57
@nikhita is there a specific way to use this with gomodules… noticed sample-controller doesn't work out of the box with it… see https://github.com/kubernetes/sample-controller/issues/47

[2019-04-22 18:52] neolit123 commented on #30
/reopen

the defaulter still has some linter problems.

it generates function names with underscores `_`.
which makes it difficult to pass the modern 1.12+ golint on packages that include generated API methods.

e.g.
https://github.com/kubernetes/kubernetes/pull/76710/files#diff-9a2f5c3d2d4df5c049e0951f45d50133R69

see the discussion here:
https://github.com/kubernetes/kubernetes/pull/76710#discus

[2019-04-23 13:51] rosti commented on #30
Currently `zz_generated.*` files are ignored. The problem is that the defaulter generates code in those files, that call `SetDefault_TypeName` funcs. Those are meant to be written by the API implementers and don't reside in `zz_generated.*` files.
It would be superb if we provide an option for the code generators to call in (and even generate actually) code that is linter proof.

[2019-04-23 14:43] neolit123 commented on #30
also we have to note that fixing the underscores will result in code that no longer passes /hack verification.
which means that the PR that fixes the existing generated files will be pretty big.

[2019-04-23 16:30] rosti commented on #30
That's why I propose an option to the generators, that can enable this behavior (so that we don't have to fix everything).

[2019-05-08 03:42] BenTheElder opened #69 "performance drop with GO111MODULE="on""
`export GO111MODULE="on"` and then run any of the code generators (so far `defaulter-gen`, `deepcopy-gen`, `conversion-gen`) for a pretty drastic increase in time to run vs `export GO111MODULE="off"` first.

I've been converting https://sigs.k8s.io/kind over to modules fully, and observed this performance issue, I've not yet had a chance to dig into why this occurs, but ensuring that module mode i

[2019-05-09 16:34] markmandel commented on #69
This might be because go mod will download all the dependencies of the project, rather than looking at the vendor directory (if it hasn't pulled them down already?). May want to try with `-mod=vendor` enabled?

Just a thought.

[2019-05-09 16:47] BenTheElder commented on #69
I don't think that's it but I'm not 100% certain. The performance difference can be observed with a populated vendor and module cache just between running `GO111MODULE="on" <code-generator>` and `GO111MODULE="off" <code-generator>`. The code generator code performance seems to be tied to this.

So far a viable work around to embrace modules is:
- build the code generators while module mode is enab

[2019-05-11 19:28] #22 closed

[2019-05-17 03:08] zhucan commented on #49
how to do it ?

[2019-05-23 17:05] joshmsamuels commented on #58
@jsobon-codi Where did you find the structs that implement that interface in the godocs? Unless you had to make your own

[2019-06-03 14:02] parhamdoustdar commented on #57
Hi @nikhita, are there any instructions for using the code-generator package when installed as a module?

Right now, i've done `go get -m k8s.io/code-generator`, but I'm not sure how to proceed.

[2019-06-03 14:54] sttts commented on #57
Compare https://github.com/kubernetes/sample-apiserver#when-using-go-111-modules. `go mod vendor` downloads what you need.

[2019-06-03 15:40] parhamdoustdar commented on #57
Thanks a lot for referring me to that page, I figured what I was doing wrong. I needed to create a `tools.go` file which would import the `k8s.io/code-generator` package, so that it would end up in my `vendor` directory when I did `go mod vendor`.

Thanks for the help!

[2019-06-10 11:03] #63 closed

[2019-06-17 14:58] kopaygorodsky opened #71 "Unresolved reference WithoutConversion() in generated code"
Unresolved reference `WithoutConversion` in `setConfigDefaults` function in `typed` clientset.  [Link](https://github.com/kubernetes/code-generator/blob/97cad0f8b2f3685eeb091954923b95709d91d52a/cmd/client-gen/generators/generator_for_group.go#L238)

`WithoutConversion` does not exist in scheme.Codecs which implements two interfaces `NegotiatedSerializer` and `StorageSerializer`. Neither of them ha

[2019-06-17 23:52] kopaygorodsky commented on #71
Update: `WithoutConversion` was added recently [commit](https://github.com/kubernetes/apimachinery/commit/829a319ddf844c6ba119a8d1550498023f185052#diff-71b26e1e133ec6d3c4da26366b6502ac), but it's not included in latest release `kubernetes-1.14.4-beta.0 ` of apimachinery.

[2019-06-24 20:28] vincepri commented on #69
@BenTheElder Can you try with `GO111MODULE="on" GOFLAGS="-mod=vendor" <code-generator>` as well? We're about to hit this in cluster-api soon :)

[2019-06-24 20:34] BenTheElder commented on #69
@vincepri feel free to give it a shot in the kind repo, we're still using the workaround detailed above for now. I might not get to this for a bit myself :sweat_smile:
The fake gopath part is pretty trivial and either way we need the rest of the wrapper to populate vendor etc.

[2019-06-24 20:37] vincepri commented on #69
Oops, sorry I missed the other comment above yours which suggested the same. I wonder how this will perform with the latest build of code-generator, which should be using tools/packages to retrieve the modules.

I'll update when I can test in CAPI or kind.

[2019-06-25 02:52] nikhita commented on #69
@vincepri do you have a link to an issue/PR about this? Afaik gengo, the main generation tool behind code-generator, would need to move to using tools/packages first and I don't think that's going to happen soon-ish because that would result in breaking lots of existing interfaces.

cc @sttts

[2019-06-25 03:43] vincepri commented on #69
@nikhita I think I might have talked too soon :smile:. We should definitely get this on the roadmap, maybe with a feature flag and documentation to opt in?

[2019-06-29 00:22] #59 closed

[2019-07-05 15:58] #62 closed

[2019-07-09 07:24] amiramw commented on #68
/remove-lifecycle stale

[2019-07-12 08:56] whypro commented on #46
I have the same question. Is this a mistake?

[2019-07-12 09:24] sttts commented on #46
Defaulters are only used in aggregated API servers. Those use internal versions. For CRDs (and hence `generator-groups.sh` defaulters don't work. If you want defaults, look at the "OpenAPI default" feature in 1.15 (still alpha, will be beta in 1.16).

[2019-07-16 09:02] mkmik commented on #57
@parhamdoustdar I tried but it doesn't vendor the `hack` directory (because they don't contain .go files?)

[code]

[code]

any idea how to trick `go mod vendor` to also include that dir?

[2019-07-16 09:10] mkmik commented on #57
hmm, apparently even if I make that dir available in the vendor dir, the scripts will try to use the one in the GOPATH

[2019-07-16 10:08] parhamdoustdar commented on #57
I also don't have the `vendor/k8s.io/code-generator/hack` directory. However, I copied the `update-codegen.sh` and `verify-codegen.sh` into my project's `hack` directory. You can see the directory [here](https://github.com/bookingcom/shipper/tree/master/hack).

[2019-07-16 10:14] sttts commented on #57
Those scripts in the hack dir are not for consumers, but developers of k8s.io/code-generator. You only need those at the root package.

[2019-07-16 10:30] mkmik commented on #57
then I guess I'm calling `generate-groups.sh` wrong because it fails if those files can't be found.

In all fairness, I have no idea what I'm doing, I inherited a project that was calling:

[code]

and it fails with `F0716 10:59:28.908622   89340 deepcopy.go:131] Failed loading boilerplate: open /Users/mkm/go/src/k8s.io/code-generator/hack/boilerplate.go.txt: no such file or directory`

@sttts sho

[2019-07-16 10:52] sttts commented on #57
@mkmik pass your own boilerplate with `--go-header-file "some/other/boilerplate.go.txt`

[2019-07-16 10:52] sttts commented on #57
Compare https://github.com/kubernetes/sample-controller/blob/master/hack/update-codegen.sh#L32

[2019-07-16 12:31] mkmik commented on #57
@stts thanks! I didn't realize that template was the responsibility of the user; it seems obvious in retrospect.

would it make sense to just make the `--go-header-file` flag mandatory so people don't fall in the trap of ignoring this step (which accidentally works if the code-generator dep is present in the GOPATH)?

[2019-07-16 12:42] nikhita commented on #57
We intentionally default it that way, so that people won't have to use the `--go-header-file` unless necessary. :grimacing:

Instead of making this mandatory, I think we could improve the error message and documentation around this. As a side-note, we intend to make code-generation more module-friendly, so this problem should go away then - https://github.com/kubernetes/publishing-bot/pull/196#iss

[2019-07-16 12:49] mkmik commented on #57
@nikhita, thanks; yeah using module aware functions to locate the default file would do the trick.

[2019-07-18 11:22] nimrodshn opened #72 "Cannot run generate scripts - generate-groups.sh: permission denied"
Following the steps detailed here: https://github.com/kubernetes/sample-apiserver/#when-using-go-111-modules, I am receiving an `../../vendor/k8s.io/code-generator/generate-groups.sh: permission denied`  error attempting to run `go generate` on the following -
[code]
I have ran `go mod vendor` and included `k8s.io/code-generator` in my code base:
[code]

Does anyone know whats wrong with the steps

[2019-07-18 12:28] nikhita commented on #72
`go mod vendor` does not set scripts as executable which leads to the `permission denied` error. See https://github.com/kubernetes/kubernetes/pull/79081 for more details.

If you directly use the `hack/update-codegen.sh` scripts, it'll work correctly. :)
If you invoke `go generate` yourself, you'll have to set the `generate-groups.sh` with executable permissions.

[2019-07-18 12:38] nimrodshn commented on #72
@nikhita How does one use `hack/update-codegen.sh`? is there a documentation to using it?

[2019-07-18 12:41] nikhita commented on #72
@nimrodshn using the script https://github.com/kubernetes/sample-apiserver/blob/master/hack/update-codegen.sh :)

The script will automatically generate code if you change any of the types. More info about that here: https://github.com/kubernetes/sample-apiserver/#changes-to-the-types, https://github.com/kubernetes/code-generator/#resources

[2019-07-18 12:45] nimrodshn commented on #72
Thanks @nikhita !

[2019-07-18 12:45] #72 closed

[2019-07-19 09:24] tatsuhiro-t opened #73 "Could not compile generated informer with +genclient:nonNamespaced"
If informer is generated with +genclient:nonNamespaced, go vet fails with the following error:

[code]

fooInformer does not have namespace field if with nonNamespaced, but function in interface.go still refers to it.

[2019-07-21 08:48] nimrodshn commented on #72
@nikhita Now I am getting:
[code]
When I am trying to `make build` my project - How do I fix this?
I would really like to avoid copying the `update-codegen.sh` file to my project or bringing other projects to my `GOPATH` - ideally all the dependencies should be vendored.

[2019-07-22 18:21] neolit123 commented on #30
/remove-lifecycle stale

[2019-07-22 19:35] dlipovetsky opened #74 "Change set-gen to respect command-line arguments like input and output directory"
set-gen [overrides command-line arguments](https://github.com/kubernetes/code-generator/blob/be3b346/cmd/set-gen/main.go#L42) such as input and output directory. As a consequence, set-gen can only generate code for the types listed in the `k8s.io/kubernetes/pkg/util/sets/types` package.

Some SIG subprojects (e.g. https://github.com/kubernetes-sigs/cluster-api/) have types that could benefit from

[2019-07-23 05:00] tatsuhiro-t commented on #73
It looks like I should report this bug in kk because this repo is just a copy of staging directory.

[2019-07-23 05:35] #73 closed

[2019-07-30 05:35] #64 closed

[2019-07-30 12:25] jinchihe opened #75 "How to auto generate openapi for dependency that without "// +k8s:openapi-gen=true""
I have a problem while using the `go run code-generator/cmd/openapi-gen/main.go` to generate openapi. My project (named project A) go type depends on project B, but the project B is common and without `// +k8s:openapi-gen=true`. How to auto include B ? For now I just need to manually add `// +k8s:openapi-gen=true` in the B, and in the `--input-dirs` specify both A and B, then B can be included, bu

[2019-08-09 20:43] #53 closed

[2019-08-15 17:03] joshiomkarj opened #76 "Code generator does not generate clients when group information isn't presnt in the directory path"
While using another generator (like kubebuilder) and code-generator together, I observed that the client, listers and informers are not generated. Upon more investigation, it seems that while running generate-groups.sh script, when the group is provided, it must exist in the directory structure.

When the apis are created with kubebuilder, the directory structure is _./api/<version>/*_types.go_ wi

[2019-08-29 15:49] FxKu opened #77 "Unable to generate informer code with a package that has a dot in kubernetes-1.16.0-beta.2"
We are using the code-generator in our [project](https://github.com/zalando/postgres-operator) for about a year now. Currently, I'm trying to switch the build process from glide to go modules but I'm struggling to update the code generation. One of our packages is called `acid.zalan.do` which doesn't seem like a valid format. Can I use some argument to choose some other name on-the-fly?

In the [m

[2019-08-30 08:17] FxKu commented on #77
Just noticed that it's probably duplicate to #19

[2019-08-30 10:40] FxKu commented on #77
Ok, we found out what caused this breaking change! It's this commit: https://github.com/kubernetes/code-generator/commit/5ac21ed6de7ac91d03e7917872c463de906d46a6

Before the first part of our package was taken, which is `acid`. As in the other PR, I've updated the package/directory name and now it works.

[2019-09-03 23:48] hansenwg opened #78 "unable to format file : gopkgsdriver: invalid query type "name" in query pattern "name=codecs""
[code]
Tried to debug for a long time, but not able to figure out what is wrong. I think this may be related to how I setup my local environment, but I am not sure

[2019-09-05 14:37] aanm commented on #77
Steps to replicate:

[code]
output:
[code]
I think this PR might have introduced this PR https://github.com/kubernetes/kubernetes/pull/80440/

cc @sttts @munnerz @nikhita

[2019-09-05 14:38] aanm commented on #77
/kind bug

[2019-09-05 14:39] aanm commented on #77
@FxKu can you change the title to include `kubernetes-1.16.0-beta.2`? This is a regression in the library since it was working fine in `kubernetes-1.15.3`

[2019-09-06 10:05] nikhita commented on #77
Created https://github.com/kubernetes/kubernetes/pull/82410 to fix this

[2019-09-06 23:06] manlinl opened #79 "code-generator convention question"
New to code-generator. I want to generate code for a CRD and its controller.

Does the source code has to be in $GOPATH/src/<mypackage>/ ?
When GO111MODULE=on, how to use code generator?

I use bazel to build my code, so the setup is bit different from conventional go code source structure, could someone provide some suggestions?

Thanks!

[2019-09-12 06:48] lzcmoody commented on #50
Hi, I found a workaround to solve this issue, anyway it's works.

type FooSpec struct {
	Parameters Values `json:"parameters,omitempty"`
}

type Values struct {
      Objects map[string]interface{} `json:"Objects,omitempty"`
}

func (in *Values) DeepCopyInto(out *Values) {
          // here's you deepcopy implementation
}

If you define you DeepCopyInfo in types.go, zz_generated.deepcopy.go will n

[2019-09-12 10:52] krzysztof-jastrzebski opened #80 "Code generator generates incorrect package names"
Code generator generates package names with dots which fails to compile.
The behavior has been changed by this commit:
https://github.com/kubernetes/code-generator/commit/5ac21ed6de7ac91d03e7917872c463de906d46a6#diff-9b57faef7d093e48f0c343f34da19a15
Before package names were first part of  group name and after change package names are equal to group names. This causes compilation errors as package

[2019-09-16 19:23] #71 closed

[2019-09-19 03:52] #79 closed

[2019-09-22 08:13] yankunsam opened #81 "I figured it out. I was missing the necessary tags in my API package."
I figured it out. I was missing the necessary tags in my API package.

_Originally posted by @trstringer in https://github.com/kubernetes/code-generator/issues/38#issuecomment-381168167_

[2019-09-22 08:14] yankunsam commented on #81
Can you give more detail information? I meet the same question.

[2019-09-23 04:59] nikhita commented on #69
/remove-lifecycle stale

[2019-09-23 05:03] nikhita commented on #81
@yankunsam can you add more details about what problems you are facing and maybe even a reproducible case in the original issue? It's easier to track when all details are in the same issue so I'll close this one. :)

[2019-09-23 05:03] #81 closed

[2019-09-23 05:09] yankunsam commented on #81
I try use code-generator to create listers, informers. And My test project is in https://github.com/yankunsam/tcontro.
1. I run `./generate-groups.sh all  github.com/yankunsam/tcontro/pkg/generated github.com/yankunsam/tcontro/pkg/apis bar:v1alpha1`

2 the log message is `Generating deepcopy funcs
Generating clientset for bar:v1alpha1 at github.com/yankunsam/tcontro/pkg/generated/clientset
Generat

[2019-09-23 14:09] nikhita commented on #80
Closing since this is a duplicate issue: https://github.com/kubernetes/kubernetes/issues/82860
Fix is in progress here: https://github.com/kubernetes/kubernetes/pull/82410

/close

[2019-09-23 14:09] #80 closed

[2019-09-27 12:49] nikhita commented on #77
Fixed in https://github.com/kubernetes/kubernetes/pull/82410 and https://github.com/kubernetes/kubernetes/pull/83077 (will be present in v1.16.1)

/close

[2019-09-27 12:49] #77 closed

[2019-09-27 12:58] FxKu commented on #77
Thanks a lot! #HappyFriday

[2019-09-28 16:10] cliveseldon commented on #76
Any update on this or workaround as I also would like to use clientgen to build a clientset from a kubebuilder bsaed project.

[2019-09-29 07:36] cliveseldon opened #83 "SchemeGroupVersion should change to GroupVersion"
Generated code by informer-gen:

https://github.com/kubernetes/code-generator/blob/de43d2cef46a5e975bf33bcb2e441c8309b2e1b3/cmd/informer-gen/generators/generic.go#L117

However Kubebuilder V2 generates a variable GroupVersion:

[code]

[2019-09-29 11:31] cofyc opened #84 "how to add customized methods into expansion?"
`expansion_generated.go` is auto-generated and will be overwritten. There is a way to fill customized methods into the interfaces?

[2019-10-08 10:25] FedeBev commented on #58
@jsobon-codi could you please exaplain how you did you solve the problem?
A simple `go mod vendor` doesn't solve.

Thanks

[2019-10-09 09:11] halfcrazy commented on #84
+1.  I want something like this.
 https://github.com/kubernetes/client-go/blob/master/kubernetes/typed/core/v1/node_expansion.go

[2019-10-18 14:43] dionysius opened #85 "prefix import names from reserved golang names with underline"
I have a CRD which I want to make use of the protobuf struct, which I build from types.proto: (pay attention to `google.protobuf.Struct settings`)
[code]

which generation with `protoc` results to types.pb.go: (pay attention to `_struct "github.com/golang/protobuf/ptypes/struct"`)
[code]

which generation with `generate-groups.sh all ...` results to zz_generated.deepcopy.go: (pay attention to `str

[2019-10-18 15:15] dionysius commented on #85
moved to https://github.com/kubernetes/gengo/issues/156 as deepcopy-gen code lays there actually...

[2019-10-18 15:15] #85 closed

[2019-10-22 17:02] functicons commented on #49
+1, could someone give me a code example? It is still unclear what I need to do.

[2019-11-05 11:39] marccarre commented on #57
@nikhita, @sttts, what is the recommended way to vendor `code-generator` via Go modules to also pull non-Go files, e.g. `generate-groups.sh`? (Apologies if already documented elsewhere, I couldn't find this.)

[2019-11-06 07:43] wonderflow commented on #4
Hit the same issue after two years.

[2019-11-14 18:54] porridge opened #87 "generate-groups.sh requires GOPATH and does not honor GOBIN"
If one does not have `$GOPATH` set in the environment (which is not necessary with newer go versions), the script crashes with:
[code]

Moreover, if one has `$GOBIN` set, the script does not honor that and tries to invoke the installed binaries from a wrong location.

[2019-11-26 09:56] chrislinan opened #88 "codegen on Windows use backslash"
Hi,
 when I run ./generate-groups.sh on my Windows, I got an error message:
W1126 17:22:17.589739   27540 import_tracker.go:46] Warning: backslash used in import path 'k8s_customize_controller\pkg\client\clientset\versioned\scheme', this is unsupported.

I found someone also met this problem in last year : https://github.com/kubernetes/sample-controller/issues/40

But I want to know, is there any

[2019-11-28 20:56] neolit123 commented on #30
/lifecycle frozen

[2019-12-06 09:14] #68 closed

[2019-12-09 06:36] tokers opened #89 "go: error loading module requirements while building tools"
Hello!

I occurred some errors when i tried to build some tools under go mod mode.

[code]

It seems that some dependencies are not found. Have you ever met this?

My go version:

[code]

My operating system version:

[code]

[2019-12-19 20:40] #87 closed

[2019-12-22 10:13] maelvls commented on #69
/remove-lifecycle stale

[2019-12-27 14:31] #75 closed

[2020-01-16 15:35] life1347 opened #90 "sharedInformerFactory should not return informer just because same type"
The sharedInformerFactory only checks the type of pass-in object but the namespace of object may be different.

https://github.com/kubernetes/code-generator/blob/ff19ea5b1bbd993e2a16b8b3be4595923687477b/cmd/informer-gen/generators/factory.go#L219

The `New` function allows passing namespace when creating an informer, however, the factory returns the informer that watch different namespace directly

[2020-02-01 01:23] #78 closed

[2020-02-05 21:18] markxnelson opened #91 "generate-groups.sh assumes that GOPATH is a single directory, not a list"
GOPATH is allowed to contain a list of directories, it does not have to be a single directory.
This script assumes that it is a single directory, and so it fails if there a multiple directories in the path.
It should use the first entry in GOPATH, not the whole list.

[2020-02-11 21:53] gh67uyyghj opened #92 "how to use it with go modules?"
Thank you for the project. How to use code-generator with Go projects after v1.11 depending on go.mod? I can't do the usual `go get` and there are no examples at all on how to use it.

[2020-02-12 14:49] hoyho opened #93 "scheme.Codecs.WithoutConversion undefined in generated client code"
I tried
1.  import _ "k8s.io/code-generator" in an existed go project
2. run `go mod vendor` to update vendor.
so that I have code-generator in my vendor folder
3. running a script to generated client code:
`./vendor/k8s.io/code-generator/generate-groups.sh deepcopy,client,informer,lister github.xsky.com/xsky/xsky-csi/pkg/crd-client github.xsky.com/xsky/xsky-csi/pkg/apis xskycontroller:v1 --go-hea

[2020-02-13 17:05] dlipovetsky commented on #74
/remove-llfecycle rotten

[2020-02-13 17:06] dlipovetsky commented on #74
/reopen

Another instance where set-gen would have been useful in a sigs project: https://github.com/kubernetes-sigs/cluster-api/pull/2193

[2020-02-13 17:07] dlipovetsky commented on #74
/remove-llfecycle rotten

[2020-02-18 17:05] vincepri commented on #74
/lifecycle frozen

[2020-02-20 17:59] ncdc opened #94 "conversion-gen should be able to use conversion functions defined in other packages"
Let's say I have the following package structure:

- a1
    - types.go (Widget)
    - sub1
        - types.go (Fromble)
- a2
    - types.go (Widget)
    - sub2
        - types.go (Fromble)

and types like

[code]

I'd like to be able to generate conversion functions for sub1/sub2. Then I'd like to generate conversion functions for a1/a2 and have them use the generated conversion functions from sub

[2020-02-21 18:04] ncdc commented on #94
@wojtek-t I think you originally added the code to gengo that excludes files containing the build tag from being processed (it was several years ago). Know if there's a workaround, or should we consider making it configurable in gengo?

cc @smarterclayton @deads2k @liggitt @lavalamp

[2020-02-24 12:04] yastij commented on #94
making it configurable makes sense either by pre-computing names or providing file names externally

[2020-02-24 14:49] timdorr commented on #92
See the sample-controller for usage: https://github.com/kubernetes/sample-controller

They set up a dummy package called `tools` to do an import that will get it downloaded and vendorable: https://github.com/kubernetes/sample-controller/blob/master/hack/tools.go

[2020-02-25 18:00] #76 closed

[2020-02-26 09:15] #83 closed

[2020-03-01 06:32] eytan-avisror commented on #49
Just in case anyone else runs into this

You need to add the subresource annotation above your CRD type:
[code]
Next run `make manifests`, and update the CRD to the newly generated one

You can now use `.Status().Update()`

More here:
https://book-v1.book.kubebuilder.io/basics/status_subresource.html

[2020-03-04 19:13] milosgajdos commented on #87
I have just tested this on
[code]

With the following `go.mod` in my project
[code]

And it still seems to be broken:
[code]

[2020-03-06 07:57] porridge commented on #87
@milosgajdos perhaps the fix is not in the version you specified. FWIW, [master](https://github.com/kubernetes/kubernetes/blob/5708511499fe500ae3b4bbd40204cef382f652e8/staging/src/k8s.io/code-generator/generate-groups.sh#L71) does not have any reference to `GOPATH` on line 71.

[2020-03-11 18:10] Jeffwan opened #95 "1.15 branch doesn't have cmd/openapi-gen"
https://github.com/kubernetes/code-generator/commit/b7517dba8c142f1a153f5838bc8dff6d32256136#diff-dfff0a7fa1a55c8c1a4966c19f6da452

Seems this commit remove openapi-gen and said we moved to use `k8s.io/kube-openapi/cmd/openapi-gen`. But it's still there in 1.16 and later branches which makes me confused

Could someone help me understand if this should still be used?

[2020-03-11 21:33] dvaldivia commented on #92
@timdorr I'm doing as suggested in `sample-controller` however, I keep getting error such as
[code]

or

[code]

Any idea how I can get it to play nice with other go modules?

[2020-03-11 21:35] dvaldivia commented on #72
@nikhita I'm getting problems during build on an gitflow, even with `go mod vendor` i get

[code]

[2020-03-11 21:38] dvaldivia commented on #72
@nimrodshn did you fixed this?

[2020-03-16 07:46] milosgajdos commented on #87
Super strange!  I believe `go.mod` messed up my dependencies. I've now rectified this and it seems to be working as expected! Thanks @porridge

[2020-03-16 11:01] milosgajdos opened #96 "[0.17.1] Error: Failed making a parser: unable to add directory"
I'm trying to use `code-generator` in my new project.

Following the `sample-controller` example I've a custom resource defined in `pkg/apis/workspace/v1` then  I run `go mod vendor` to vendor the dependencies (including the `code-generator`) and then the hack script which produces this error (NOTE: I've turned on `bash` debug flag)

[code]

My go version:
[code]

My `go.mod`
[code]

I'm at loss a

[2020-03-16 12:56] milosgajdos commented on #96
Strangely enough, this had to do with misnaming the module name and directory path it is in.

[2020-03-16 12:56] #96 closed

[2020-03-16 17:04] tedyu opened #97 "no matching versions for query "latest""
I got the following error when building code-generator/cmd/deepcopy-gen (from kubernetes)
[code]
I tried both go 1.13 and go 1.14 but the error persists.

[2020-03-17 17:30] BassinD commented on #38
Hi, I have the same problem. Could you share the solution?

[2020-03-18 14:30] BassinD commented on #81
@nikhita, Help please. I have the same issue as described above.

[2020-03-19 17:22] #90 closed

[2020-03-20 13:22] clementblaise opened #98 "Failed to generate informers with goupName containing a dash"
Hello,
I'm using a group name containing a dash (ca-gip.github.com). I did not have any problems generating while using codegen v0.15.0.
But since I upgraded to newer version it's not possible anymore, I've tested with: v0.16.8, v0.17.0 and v0.17.4.
The error seems to be only associate to informers as clienset and listers are properly generated.

The log I get while using the update-codegen.sh scr

[2020-03-20 15:03] drekle commented on #94
If I understand the issue correctly I have also hit this a couple of times.  I believe the typecasting below is a workaround?  (however it assumes you use the new type throughout your codebase)

[code]

[2020-03-22 09:14] BlackKD opened #99 "Failed making a parser"
I'm trying to create a brand new apiserver using code-generator. So I create an empty golang project, and build this project

![image](https://user-images.githubusercontent.com/13346479/77246200-c588ef00-6c5f-11ea-836d-db4737fb608f.png)

and project tree like:
![image](https://user-images.githubusercontent.com/13346479/77246208-e0f3fa00-6c5f-11ea-9297-f7901c5edb5a.png)

then I try to generator the

[2020-03-22 09:20] BlackKD commented on #99
I solved the problem:

need to bash the generate-groups.sh from project root
![image](https://user-images.githubusercontent.com/13346479/77246320-06353800-6c61-11ea-87c0-cf8d66f0137c.png)

why not consider to add hints to remind users？

[2020-03-23 18:59] BenTheElder commented on #69
/lifecycle frozen
this issue is not going away on it's own and it will probably bite us in the future, FYI @liggitt @dims (be aware of this when touching k/k build scripts...)

[2020-03-24 14:26] bentito commented on #72
Same as @dvaldivia , I don't understand how to properly cause the bash script, `generate-groups.sh` to be available in a `go mod` build?

[2020-03-25 08:58] BassinD commented on #22
I have the same issue. Seems that "-" symbol can by used in the groupName

[2020-03-27 11:43] clementblaise commented on #98
The client-gen is also affected by the same problems, at least for the fake parts.
I noticed that in pkg/generated/clientset/versioned/typed/ca-gip/v1/fake/fake_resourcequotaclaim.go it's using the group name without the dash. This result in a non working fake clientset since the real clientset is correctly generated with a dash in the group name.

Code Sample from generated/clientset/versioned/ty

[2020-04-08 07:22] antoineco commented on #92
@dvaldivia you're not supposed to build that file or package. Notice the `// +build tools` constraint which cause that file to be ignored during builds. This idea is simply to have an explicit reference to your tools _somewhere_ in your code, so that Go considers them while resolving dependencies.

[2020-04-08 09:20] antoineco opened #100 "Code generation significantly slower with Go modules"
Code generators from this repository run about 10-15x slower in a project that uses Go modules than in a project that doesn't (for the exact same codebase).

**without Go modules** (GOPATH+vendor)

[code]
[code]
[code]
[code]

**with Go modules** (pre-downloaded)

[code]
[code]
[code]
[code]

📄  [the Makefile](https://github.com/triggermesh/aws-event-sources/blob/c970771/scripts/inc.Codegen)

[2020-04-15 20:17] alewitt2 commented on #53
/reopen

[2020-04-15 20:26] alewitt2 opened #101 "Support different plural forms"
#53 should not be a feature request, it should be a bug. The same problem was reported in kubernetes/kubernetes#51639 and addressed in kubernetes/kubernetes#50012

We have the same issue as #53 for our CRDs, where we use a different plural than just an `s` on the end of the singular. This wasnt an issue until one of our users wanted to use this code generator. https://github.com/razee-io/RemoteRes

[2020-04-15 21:46] dvasilen commented on #101
/cc @dvasilen

[2020-04-17 18:17] abayer opened #102 "deepcopy-gen writes to the wrong directory with v2-style semver module version"
I'm moving a project to be semver-compliant in its go module versioning, and have run into a couple issues with code gen here (I'll be opening another issue for a problem common to `client-gen` and `informer-gen`). The project in question already has `v2.x.x` tags, so we're changing the module from `github.com/jenkins-x/jx` to `github.com/jenkins-x/jx/v2` and leaving the `pkg` layout on disk the s

[2020-04-17 18:23] abayer opened #103 "client-gen and informer-gen use the wrong import path for semver module versions"
Related to #102 - with a `module github.com/jenkins-x/jx/v2` and a directory layout of `pkg/...` without the `v2`, `client-gen` and `informer-gen` both end up using the `github.com/jenkins-x/jx/pkg/...` path rather than `github.com/jenkins-x/jx/v2/pkg/...` in their "internal" imports - i.e., in the `pkg/client/clientset/versioned/...` go files written by `client-gen`, the imports to other packages

[2020-04-20 07:19] knightXun commented on #97
I assume you have some remaining codegen .go files, You should remove then

[2020-04-24 06:57] scuzhanglei commented on #84
@cofyc @halfcrazy hi guys, how did you fix this problem eventually?

[2020-04-24 06:57] scuzhanglei commented on #84
/reopen

[2020-04-24 07:55] halfcrazy commented on #84
I switched to use controller-runtime.

[2020-04-24 08:30] cofyc commented on #84
I simply re-added my modifications. Anyway, I think it's worth supporting.
/reopen
/remove-lifecycle rotten

[2020-04-24 11:55] #88 closed

[2020-04-24 18:08] damemi opened #105 "No doc.go in root doesn't allow generate-groups.sh to be vendored with modules"
If I have a project where I'd like to manually vendor the code-generator to ship some hack scripts for updating code, I can't vendor `generate-groups.sh` in my own project without a `doc.go` file in the root of `k8s.io/code-generator` (I believe this is a function of Go modules)

Would it be reasonable to add this to the root code-generator directory, or is vendoring code-generator to ship hack sc

[2020-04-25 06:40] JaneLiuL opened #106 "code-generator don't generate clientset, informer and lister"
Question:
When I use code-generator try to generate the clienset, informer and lister, it does not tell me any issue, but when I check the generate folder, it only have clientset, and the content is almost empty
![image](https://user-images.githubusercontent.com/56822274/80273118-29408500-8702-11ea-91d0-37358dd2a7d5.png)

My *_type.go file as below:
package v1beta1

import (
	metav1 "k8s.io/apimac

[2020-04-25 06:43] ezliuja commented on #106
![image](https://user-images.githubusercontent.com/56822274/80273222-fc40a200-8702-11ea-8df4-2f26117255fd.png)
This is what have been generate, it is very strange, and when I check file generated/clientset/versioned/clientset.go only have one word "package versioned"

[2020-04-28 17:43] antoineco commented on #106
Code generators write in a directory relative to `$GOPATH/src`.
In your case: `$GOPATH/src/appmgmt-operator/generated/appmgmt-operator/api`.

[2020-04-28 23:27] danehans opened #107 "go-to-protobuf incorrectly generates godoc for type"
https://github.com/kubernetes-sigs/service-apis/pull/163 adds two new types, `ConfigMapsDefaultLocalObjectReference` and `ServicesDefaultLocalObjectReference`.  go-to-protobuf properly generates the protos for both Go types, however the  `ConfigMapsDefaultLocalObjectReference` godocs are from a different, [previously created type](https://github.com/kubernetes-sigs/service-apis/pull/163/files#r416

[2020-05-03 00:11] ezliuja commented on #106
yes, but the strange thing is , it only generate the clientset, and the clientset code is only have something like "package clientset", I don't know where's wrong, even it said generate informer success, but still don't have this part code

-- generated
|   `-- clientset
|       `-- versioned
|           |-- clientset.go
|           |-- doc.go
|           |-- fake
|           |   |-- clientset_gen

[2020-05-03 09:12] antoineco commented on #106
Is your code available somewhere?

[2020-05-06 00:10] markxnelson commented on #91
@lavalamp hello - i am not sure what i am meant to do here. this is a real issue, but noone seems to have looked at it.

[2020-05-07 08:58] #89 closed

[2020-05-11 12:24] nikhita commented on #101
@dvasilen you can use the `plural-exceptions` flag for this:

https://github.com/kubernetes/code-generator/blob/7baaea6316a654efa04671651b591fa6d87069b5/cmd/client-gen/args/args.go#L52-L54

https://github.com/kubernetes/code-generator/blob/7baaea6316a654efa04671651b591fa6d87069b5/cmd/client-gen/args/args.go#L86

[2020-05-11 13:34] alewitt2 commented on #101
@dvasilen does this work as a solution for you? can we close this issue out?

[2020-05-11 13:49] dvasilen commented on #101
@alewitt2 yes, please close this issue, thanks

[2020-05-11 13:54] #101 closed

[2020-05-13 09:45] wubo0067 commented on #38
I also meet this problem, please ask me which important tags, thank you very much

[2020-05-13 09:48] wubo0067 commented on #38
@trstringer ，I also meet this problem, please ask me which important tags, thank you very much！

[2020-05-13 09:53] wubo0067 commented on #106
I had the same problem, using an operator-sdk.

[2020-05-13 10:09] ezliuja commented on #106
If you use operator-sdk, and use the code-generate to generate the clientset, informers, then you will get fail.
But if you only write apis_types.go by yourself in a empty project, then you can use the code-generate to generate the clientset, informers and so on

[2020-05-28 19:45] marghahay opened #108 "getting compile error about typed client when try to access generated clientset"
I am trying to use code-generator to create a client to access a custom resource called Account.
I used code-generator to generate a clientset.  all the generated typed client and everything look ok and the same as k8s sample-controller example code.  However when i import my acctclientset like below to try to access the generated clientset, i get compile error for the account.go, which is the typ

[2020-06-01 15:10] #108 closed

[2020-06-01 20:51] dylanhitt commented on #38
For those that may still be having trouble in the future @trstringer  has a great [blog](https://trstringer.com/extending-k8s-custom-controllers/) about using the generator. Pay attention in the files where `// +<tag_name>[=value]` is present. Exact reference can be scene both in the blog post and [here in the sample-controller](https://github.com/kubernetes/sample-controller/blob/a1a67935a6584195

[2020-06-02 02:13] YesterdayxD opened #109 "[bug]can not generate zz_generated.deepcopy.go"
code-generator version : release v1.14.8
go version go1.14.3 linux/amd64
 when I run this instruction
[code]
I found I couldn't get the zz_generated.deepcopy.go

or
[code]
I couldn't find it.

[2020-06-02 04:08] yingzewen commented on #99
Can you tell me how you solved this problem ? thx

[2020-06-05 03:58] mingen-pan commented on #49
I think your solution works for kubebuilder. But not the client generated by code-generator.

[2020-06-11 03:53] #97 closed

[2020-06-11 20:57] RedbackThomson opened #110 "[Bug] `lister-gen` is overwriting `expansion_generated.go` for every group"
I was able to successfully get the `client-gen` script working for multiple groups. My `GROUPS_WITH_VERSIONS` looks like the following:
[code]

When trying to compile the listers, all except one of them fails to compile due to an `undeclared name: <Type>ListerExpansion` and `undeclared name: <Type>NamespaceListerExpansion`. These interfaces are not declared anywhere within the package.

As part of

[2020-06-14 19:28] alexec opened #111 "Document the rules and best practices for go-to-protobuf"
After encounter a lot of pain, I've started documenting what I think is correct practices here:

https://docs.google.com/document/d/18kNPQNAXRdYL7maJp89JwunhGSsokAZ_sBR2L3eD3bo/edit#

I'd love some feedback on this.

[2020-06-18 15:29] vincepri commented on #94
/lifecycle frozen

[2020-06-18 15:43] lavalamp commented on #94
Sorry first time I saw this... I don't actually understand what result you're hoping for. You have 4 separate things and invoking conversion gen twice? Are you hoping that this will result in (4-1)^2 conversion functions such that the scheme can turn any of your 4 things into any of the others?

[2020-06-18 18:54] ncdc commented on #94
Ugh, now I have to remember why I wrote this 😛. I definitely had a good reason for it... It's for Cluster API, and IIRC we have one API package that includes types from another API package. And then we have 2 different API versions. So this was wanting to be able to call Convert_v1alpha1_Widget_to_v1alpha2_Widget and have it use conversion functions from the "sub" packages (which are valid apimach

[2020-06-20 07:19] ordovicia commented on #83
/reopen

[2020-06-20 07:27] ordovicia opened #112 "SchemeGroupVersion should change to GroupVersion"
Reopening #83

---

Generated code by informer-gen:

https://github.com/kubernetes/code-generator/blob/92e2f57872e807633cc6fbcc65393a6e71513e13/cmd/informer-gen/generators/generic.go#L115

However Kubebuilder V2 generates a variable GroupVersion:

[code]

[2020-06-22 03:59] lixiang233 commented on #99
Just run `generate-groups.sh` in your CR's project root path @yingzewen

[2020-06-22 21:31] bhavyanshu commented on #108
How did you fix this? I am seeing the same issue.

[2020-06-23 14:00] marghahay commented on #108
i found two ways to fix the problem:

1. after code generated, manually modify the generated files for the compile errors.
for me, I found there were 2 files need to modify.

ex:  in sample-controller (https://github.com/kubernetes/sample-controller), you will need to manually remove every "ctx context.Context" in the following two files:
/pkg/generated/clientset/versioned/typed/samplecontroller/v

[2020-06-23 14:02] marghahay commented on #108
i found two ways to fix the problem:

    after code generated, manually modify the generated files for the compile errors.
    for me, I found there were 2 files need to modify.

ex: in sample-controller (https://github.com/kubernetes/sample-controller), you will need to manually remove every "ctx context.Context" in the following two files:
/pkg/generated/clientset/versioned/typed/samplecontroll

[2020-07-05 01:53] #91 closed

[2020-07-08 09:19] dongwangdw opened #113 "Is this a bug?"
I want to update my controller to new version.
But  I get this error when to produce the code:
[code]

[2020-07-08 09:20] dongwangdw commented on #113
The go.mod file is :

[code]

[2020-07-08 09:21] dongwangdw commented on #113
At least, I need to know what is going on here. Version incompatible?

[2020-07-11 16:27] #93 closed

[2020-07-23 18:10] damemi commented on #105
/remove-lifecycle stale

[2020-07-27 17:45] antoineco commented on #100
/remove-lifecycle stale

[2020-07-30 12:17] Alexbyy opened #114 "Error: Failed making a parser: unable to add directory"
I downloaded the project of sample-controller on the official website,then I renamed the project "fluentd-config",then I edit the  ./hack/update-codegen.sh,
![image](https://user-images.githubusercontent.com/27987483/88921563-56707680-d2a1-11ea-8eee-a1e5f3d155c1.png)
Then I ran this "./hack/update-codegen.sh "and I got this error:
![image](https://user-images.githubusercontent.com/27987483/8892168

[2020-07-30 12:19] Alexbyy commented on #114
when I rename the project into "sample-controller", It can be executed normally。

[2020-08-06 21:34] BenTheElder commented on #69
FWIW i'm no longer using the vendor / GOPATH workaround in kind, but I've also changed a lot of things:
- less code
- less dependencies
- less use of generators
- go1.15rc1
...

[2020-08-08 20:25] #95 closed

[2020-08-15 22:18] abayer commented on #102
/remove-lifecycle rotten

[2020-08-15 22:18] abayer commented on #103
/remove-lifecycle rotten

[2020-08-26 14:22] marcus-sa commented on #114
Yeah, I can't seem to get this to work either.

[2020-09-05 09:08] #92 closed

[2020-09-09 08:02] mdecalf commented on #98
The problem still exists and very problematic. We are blocked on v0.0.0-20190612205613-18da4a14b22b version of code generator ...

[2020-09-11 12:10] clementblaise commented on #98
/remove-lifecycle stale

[2020-09-13 18:13] #111 closed

[2020-09-17 05:46] iam-veeramalla opened #116 "Controller does not identify the custom resources intermittently !!"
Problem:
We are using code-generator in [F5 Ingress Controller](https://github.com/F5Networks/k8s-bigip-ctlr/tree/master/config) to implement informers for our custom resources. This informers(generated) would listen to the event like creation/updation and deletion.

Now, the problem is controller does not identify the create event of custom resources intermittently, mostly at the time of controll

[2020-09-21 10:24] #84 closed

[2020-09-26 01:11] #107 closed

[2020-09-27 02:52] ordovicia commented on #112
/remove-lifecycle stale

[2020-09-30 18:44] rawlingsj commented on #102
I just hit this as well on a different repo.  Same story, using semver go modules:

i.e. example go.mod file __note the /v1 at the end of the first line...
[code]

included in the repo:
[code]

./hack/update-codegen.sh
[code]

Generates a file...

`pkg/client/clientset/versioned/clientset.go`
[code]
this causes issues because the import should include the semver module version `v1` from the go.mod

[2020-10-08 19:21] ncdc commented on #94
@lavalamp here's a more concrete, specific example.

In Cluster API, we have two separate API groups:
- bootstrap
- controlplane

In the bootstrap API group, we have a KubeadmConfigSpec type.

In the controlplane API group, we have a KubeadmControlPlaneSpec type, and this has a bootstrap.KubeadmConfigSpec field.

We previously only had a single version for the controlplane API group - v1alpha3. We

[2020-10-08 19:34] ncdc commented on #94
And to repeat from the original description, because our generated files have the standard/default `ignore_autogenerated` build tag, with https://github.com/kubernetes/gengo/blob/e0e292d8aa122d458174e1bef5f142b4d0a67a05/args/args.go#L137-L138, the conversion functions in the bootstrap package are ignored, because they're in a file that has `// +build !ignore_autogenerated`.

[2020-10-13 19:14] RedbackThomson commented on #110
/remove-lifecycle rotten

[2020-10-30 04:31] #109 closed

[2020-11-11 13:22] wujianqiangwjq commented on #114
Error: Failed making a parser: unable to add directory

[2020-11-11 13:25] wujianqiangwjq opened #117 "when I rename the project into "sample-controller", It can be executed normally。"
when I rename the project into "sample-controller", It can be executed normally。

_Originally posted by @Alexbyy in https://github.com/kubernetes/code-generator/issues/114#issuecomment-666330661_

why?

[2020-11-19 06:21] #99 closed

[2020-11-20 19:04] damemi commented on #105
/close

[2020-11-20 19:04] #105 closed

[2020-11-24 19:38] antoineco commented on #100
/remove-lifecycle stale

[2020-11-24 19:38] antoineco commented on #100
/remove-lifecycle rotten

[2020-12-10 13:09] clementblaise commented on #98
/remove-lifecycle stale

[2020-12-16 08:48] iam-veeramalla commented on #116
/close

[2020-12-16 08:48] #116 closed

[2021-01-08 03:51] yyf1986 opened #118 "how to write controll code"
I use code-generator to generate code (clientset、informers、listers) ,but how to use informers,listers to write myself controll code

[2021-01-13 00:47] #103 closed

[2021-01-15 05:08] JiyeYu opened #119 "How to use code-generator to generate clientset when using go 1.11 modules (GO111MODULE=on)"
I successfully generated clientset, lister, informer by code-generator when I place my project into $GOPATH/src.

However, when I use go 1.11 modules and place my project anywhere outside $GOPATH, I find something go wrong in the output.

Is there any detailed solution for my problem? Thanks a lot!

[2021-01-28 10:02] JiyeYu commented on #119
Is there someone can help me ? 🤔

[2021-02-01 13:14] JiyeYu commented on #119
After several trying, I figure it out.
https://github.com/kubernetes/sample-controller#when-using-go-111-modules provides helps.

[2021-02-01 13:14] #119 closed

[2021-02-03 15:20] gabrik commented on #106
Hi all,

I'm having the exact same problem.

The code is available here: https://github.com/gabrik/example-custom-controller

If I run the `code-generator` without passing `--output-base` it complains about not finding `boilerplate.go.txt` (even if the file is there)
[code]

Otherwise, it just generates the `versioned` files that are almost empty.

I've also checked in `$GOPATH/src/github.com/gabr

[2021-02-03 16:16] antoineco commented on #106
@gabrik because by default code generators try to read `${GOPATH}/src/k8s.io/code-generator/hack/boilerplate.go.txt`. Notice the $GOPATH in there. That means you have to manually clone the code-generator repository at this location on your machine.

There is a better and simpler approach though:

I see you have your own boilerplate file in the repo you linked. That means you have to reference it m

[2021-02-03 16:18] gabrik commented on #106
Thank you @antoineco
I indeed added that parameter and now it works.

[2021-02-05 07:23] ialidzhikov commented on #100
/sig api-machinery
/area code-generation
/kind bug

[2021-02-05 08:33] ialidzhikov commented on #69
/kind bug
/priority important-soon
/sig api-machinery

[2021-02-19 19:23] sedefsavas opened #120 "Upgrading to v0.20.2 breaks pointer slice conversions"
Upgrading code-generator from v0.19.2 to v0.20.2 causes conversion-gen to incorrectly generate conversion functions for types that have slices of pointers to custom objects. For example, we are getting incorrect conversion for this type: https://github.com/kubernetes-sigs/cluster-api/blob/37941fe876ec60dfdad514ccb0b8daae2b37964e/test/infrastructure/docker/exp/api/v1alpha4/dockermachinepool_types.g

[2021-02-19 19:34] sedefsavas commented on #120
Tracking this in Kubernetes repo: https://github.com/kubernetes/kubernetes/issues/99240

Closing.

[2021-02-19 19:34] #120 closed

[2021-02-24 05:16] #112 closed

[2021-02-27 20:42] #102 closed

[2021-03-04 01:53] adamzhoul commented on #84
is support under consideration?
if not, the `expansion interface` is meaningless.
especially code like:

[code]

 it's generated by lister-generator, and we shall not modify them.
 right? correct me if I am not.

[2021-03-04 05:36] imkgarg commented on #118
@yyf1986 This link should be helpful: https://engineering.bitnami.com/articles/a-deep-dive-into-kubernetes-controllers.html

[2021-03-04 05:52] nikhita commented on #118
@yyf1986 https://github.com/kubernetes/sample-controller has a good end to end example on how to write your own controller using the generated code. :)

Closing.

[2021-03-04 05:52] #118 closed

[2021-03-09 14:49] chrislovecnm commented on #106
/remove-lifecycle rotten

[2021-03-09 14:51] chrislovecnm commented on #106
/reopen

[2021-03-09 16:02] chrislovecnm opened #121 "Empty client generated"
I am generating the client for an API group, and I am getting empty client files.  When I run

[code]

I am getting the following errors.

[code]

When I move the API code to a "core" folder, it works.  I am noticing various places in the codebase where the code is returning the value "core" such as in "./cmd/client-gen/types/types.go", but I am not familiar with the codebase enough to figure out

[2021-03-09 16:27] chrislovecnm commented on #121
Well, I figured it out.  If I renamed the folder to "apis" rather than "api" it works :(

[2021-03-12 20:49] #110 closed

[2021-04-06 07:56] reith opened #122 "Behaviour of `client-gen --input` miss-documented?"
`client-gen -h` says:

but it seems it can generate versioned clients for different versions of same group, is documentation wrong? in fact I couldn't find any other way to generate multi-version clients for my custom resources.

[2021-04-07 15:37] onkarbanerjee commented on #38
But it still doesn't work right? I have followed all the instructions to the tee in https://trstringer.com/extending-k8s-custom-controllers/ but listers and informers are never there

[2021-04-07 18:59] onkarbanerjee commented on #106
/open

[2021-04-07 19:02] onkarbanerjee opened #123 "code-gen not generating the files"
Question :- No deepcopy/informer/lister files are created when I run the script `generate-groups.sh`

This is my code directory structure
![image](https://user-images.githubusercontent.com/46961494/113919817-a5dc4e80-9801-11eb-92fe-e045beb63beb.png)

This is my types.go
[code]

This is my doc.go
[code]

I am running the script like below:
![image](https://user-images.githubusercontent.com/46961494

[2021-04-07 19:06] onkarbanerjee commented on #106
This issue is till there for me, can anyone help?

[2021-04-07 19:27] antoineco commented on #106
@onkarbanerjee yes, if you describe your issue I can try to help.

Please provide snippets of your scripts, the structure of your project, and the errors you're seeing.

[2021-04-07 20:06] onkarbanerjee commented on #106
@antoineco Thanks for your response. Here is what I am trying to do.

This is my code directory structure
![image](https://user-images.githubusercontent.com/46961494/113926967-7c73f080-980a-11eb-97df-2ea40304cb74.png)

This is my types.go
[code]

This is my doc.go
[code]

I am running the script like below:
![image](https://user-images.githubusercontent.com/46961494/113927135-b5ac6080-980a-11eb-8a

[2021-04-07 20:35] antoineco commented on #106
@onkarbanerjee chances are that your code was generated in `$GOPATH/src/github.com/onkarbanerjee/crd-code`, and not in your current project's directory.

[2021-04-08 06:47] onkarbanerjee commented on #106
@antoineco No code generated.
![image](https://user-images.githubusercontent.com/46961494/113980633-5b3fee00-9864-11eb-919e-0f5b2682f692.png)

[2021-04-08 07:01] antoineco commented on #106
Your screenshot doesn't show `pkg/client`.

[2021-04-08 07:06] onkarbanerjee commented on #106
@antoineco It only has the clientset folder and the files in them are mostly empty.
![image](https://user-images.githubusercontent.com/46961494/113982957-0356b680-9867-11eb-9898-6caaf23ff943.png)

[2021-04-08 10:03] zq-david-wang commented on #123
append "-v 10" at the end of your command, it should tell where is wrong.

The tool would exit with success code when it has done nothing.......

[2021-04-08 10:04] zq-david-wang commented on #106
append "-v 10" at the end of your command, it should tell where is wrong.

The tool would exit with success code when it has done nothing.......

[2021-04-08 10:55] onkarbanerjee commented on #123
@zq-david-wang

It is not able to find my package it seems, or is the error to do with github credentials?
![image](https://user-images.githubusercontent.com/46961494/114014765-981cdc80-9886-11eb-87c0-051c6824437a.png)

[2021-04-08 11:26] onkarbanerjee commented on #106
@zq-david-wang  It us unable to import the package it seems.
![image](https://user-images.githubusercontent.com/46961494/114018867-580c2880-988b-11eb-92f7-27edf6393639.png)

[2021-04-08 11:43] antoineco commented on #106
@onkarbanerjee this seems like a misconfigured Go project or Go toolchain to me. This goes beyond the topic of this discussion, but here are two ways to fix this:
* If your Go project uses modules, make sure `go.mod` starts with the line `module github.com/onkarbanerjee/crd-code`
* If it doesn't, please refer to [Module-aware commands](https://golang.org/ref/mod#mod-commands) in the Go documentati

[2021-04-10 14:59] #114 closed

[2021-04-10 14:59] #117 closed

[2021-04-14 14:25] michelleN commented on #121
I am running into the same issue but my folder is named apis. I don't know why it doesn't work though.

[2021-04-14 16:26] michelleN opened #124 "code-gen not building out client fully with interfaces"
[code]

My script is:

[code]

My directory structure looks like this:
<img width="809" alt="Screen Shot 2021-04-14 at 12 22 43 PM" src="https://user-images.githubusercontent.com/1497123/114744860-20cec900-9d1c-11eb-8e35-3ec1d8be5e14.png">

This is what gets generated:
<img width="654" alt="Screen Shot 2021-04-14 at 12 23 17 PM" src="https://user-images.githubusercontent.com/1497123/114744940-32b0

[2021-04-15 13:16] michelleN commented on #124
Turns out I was just missing the genclient marker. It's no longer required by kube builder so I thought it was deprecated here too. 🤦

[2021-04-15 13:17] #124 closed

[2021-04-23 12:03] lifesuper opened #125 "Use go-to-protobuf to generate proto error on windows when import other packages"
Problems :
On windows，use go-to-protobuf to generate proto。When types.go import other packages，the generated proto will show invalid path like '\\common\\***.proto'

Change:
First I modify the code ImportPath():
func (p *protobufPackage) ImportPath() string{
 path:=filepath.Join(p.PackagePath, "generated.proto")
 return filepath.ToSlash(path)
}
Then compile and run ,everything is OK.

Hope your re

[2021-05-06 08:01] #100 closed

[2021-05-14 07:26] harryyann commented on #106
Hello,there. I have the problem something similar. I use the shell script to generate code, but I got only one clientset folder and which is almost empty. There is no any Errors or Warnings.The code I used is just the same as the [sample-controller](https://github.com/kubernetes/sample-controller).

My project is just like this:
[code]
[code]
the shell script to generate code:

[code]

My go.mod f

[2021-05-15 01:34] gy95 opened #126 "deepcopy --output-package=github.com/examples/pkg/apis, where are generated-codes located"
i run cmd `deepcopy-gen --go-header-file xxxxx --input-dirs=xxxxxx --output-package=github.com/examples/pkg/apis --output-file-base=zz_generated.deepcopy` to generate codes,

But i found the code is generated in `./github.com/examples/pkg/apis` , but not in `$GOPATH/github.com/examples/pkg/apis`, how to fix this problem

[2021-06-01 20:58] efortin commented on #98
Hy Clement,

I've made the PR to fix it. Waiting review: [PR](https://github.com/kubernetes/code-generator/pull/127)

[2021-06-02 09:25] pickfire commented on #106
@harryyann Legacy, `$GOPATH`...

[2021-06-02 09:33] pickfire commented on #126
It figures it out automatically.

Read the help or source code to know this.
[code]

For me I can't seemed to change the base path.

[2021-06-04 03:32] gy95 commented on #126
Thanks a lot

[2021-06-04 03:32] #126 closed

[2021-06-08 03:32] RookiesBoy commented on #106
I have the same problem

[2021-06-17 03:38] JesseStutler commented on #106
@harryyann I have the same problem.Only clientset was generated.

[2021-06-23 15:14] dgrisonnet opened #128 "Add context parameter to New*Informer() functions"
## Context

In an operator using code-generator to generate its informers via controller-gen, we wanted to get rid of all the `context.TODO()` of our codebase and start propagating a real context. However, we noticed that our generated informers still have a `context.TODO()` and there is no way currently to propagate a real context there.

## Proposal

Adding a new parameter to the [NewFiltered*In

[2021-06-25 05:55] cuisongliu opened #129 "groupName can't override"
when I use code-generator to generator code . at doc.go add Comments `// +groupName=xxx` ,I found not override this groupName.
types.ExtractCommentTags("+", pkg.DocComments)["groupName"] fix to types.ExtractCommentTags("+", pkg.Comments)["groupName"] is right

this pr fix it : https://github.com/kubernetes/kubernetes/pull/100738,but not merge it .

[2021-06-25 19:35] naduvat commented on #106
@harryyann I was facing a similar issue. Mine was because the tags were not set correctly in types.go. i had a few empty lines between the comment and the struct definition. The gengo parser was skipping this saying the doesn't need a client code generation

The below is what is had initially.

[code]

I change it as follows to get it working

[code]

There were some issues with the directory stru

[2021-07-05 10:22] #16 closed

[2021-07-13 15:04] chrislovecnm commented on #121
/remove-lifecycle stale

[2021-07-16 00:26] jpeach opened #130 "Gogo extensions are not omitted if only generating IDL"
If you run `go-to-protobuf` with the `--only-idl` flag, then it exits before rewriting the output to remove the gogo extensions.

If you set this at the start, you can omit the extensions from the first pass, but I expect there's some complexity that makes this a bad idea :)

[code]

[2021-07-31 14:54] alexellis commented on #57
@marccarre I noticed that you haven't had an answer on this. What did you settle on?

[2021-08-11 19:31] 2581543189 opened #131 "the default value of GoHeaderFilePath is wrong"
the problem is in this commit
https://github.com/kubernetes/code-generator/commit/5bb9f2e1767e5cb98bb373649a1da739aa7cb4ff

before the default GoHeaderFilePath is filepath.Join(args.DefaultSourceTree(), path.Join(reflect.TypeOf(empty{}).PkgPath(), "/../../hack/boilerplate.go.txt"))

after the default GoHeaderFilePath is just filepath.Join(reflect.TypeOf(empty{}).PkgPath(), "/../../hack/boilerplate

[2021-08-13 08:44] njuCZ opened #132 "difference between https://github.com/kubernetes-sigs/controller-tools"
Hi all, I found there are two official tools about code generation: this one and the https://github.com/kubernetes-sigs/controller-tools

I wonder what is the difference between these two project?

thanks for your help

[2021-08-14 05:51] marccarre commented on #57
@alexellis, sorry, this was almost two years ago and I'm afraid I can no longer remember. 😔
(Especially as I moved on to something else in the meantime.)

[2021-08-24 07:34] gorexlv commented on #106
Same problem, only clientset package generated, and no error/warning log outputs.
Is there anyone resolved this problem?

[2021-08-25 11:12] pickfire commented on #106
I resolved it. Issue related to `$GOPATH` but I don't recall how.

[2021-09-03 08:57] #122 closed

[2021-09-04 05:23] #129 closed

[2021-09-05 12:19] #123 closed

[2021-09-07 09:40] seven-yu commented on #106
me too !!!

[2021-09-09 21:04] Jeffwan commented on #113
I meet this problem as well

/reopen

[2021-09-09 21:05] Jeffwan commented on #113
@dongwangdw Do you use golang 1.13?

[2021-09-10 12:17] zonzpoo commented on #106
./vendor/k8s.io/code-generator/generate-groups.sh "all" "./pkg/generated" "./pkg/apis" "samplecrd:v1" -o "./"  --go-header-file "./hack/boilerplate.go.txt"

this is ok for me

[2021-09-20 13:58] #125 closed

[2021-09-20 16:38] droslean commented on #106
Is there any solution to this problem? It seems that the tool is generating files with only the package and the boilerplate included.

Is anyone taking care of this issue?

@dims ?

[2021-09-23 22:01] devops007 commented on #106
@droslean
I have solved this problem， add ”-v 10“ flag， and the following errors were found：
[code]

so copy api/crd.k8s.xxx.com/v1 to ./vendor

[code]

[2021-09-25 10:55] gxglls commented on #106
thanks, gave me a great help

[2021-09-27 20:03] rgowrishankar commented on #101
@nikhita @dvasilen @alewitt2 I tried to use the `plural-extensions` with FeatureFlagSetLD CRD which has the same plural issue
https://github.com/razee-io/FeatureFlagSetLD/blob/master/kubernetes/FeatureFlagSetLD/resource.yaml#L303-L310
by adding
`--plural-exceptions={"FeatureFlagSetLD:FeatureFlagSetsLD"}`
to the client-gen binary invocation but it is still generating the client-set with `FeatureFla

[2021-09-28 09:21] bingws commented on #106
GO111MODULE=off

[2021-09-29 18:23] austince opened #133 "`deepcopy-gen` relative output without symlinks"
`deepcopy-gen` currently writes output exclusively to the `GOPATH`. In kubernetes, a local go tree structure is created and [symlinked to the working directory](https://github.com/kubernetes/kubernetes/blob/39d9e98a6f9e51a1b2951055bbd60d6161715cd9/hack/lib/golang.sh#L454-L466).  It would be nice if this symlinking was not necessary for correct placement of the generated files.

An additional argum

[2021-09-29 18:23] austince commented on #133
/sig-api-machinery

[2021-09-29 18:23] austince commented on #133
/sig api-machinery

[2021-09-30 20:18] jpbetz commented on #133
/cc @jpbetz
/triage accepted

[2021-10-07 12:31] daemon1024 opened #134 "add generate-group cmd in place of shell script"
I recently used this tool for generating kube like APIs for custom resources. But it seems to be using a script i.e. https://github.com/kubernetes/code-generator/blob/master/generate-groups.sh for code-gen. I was wondering if we could move this script to be an independent `cmd` written in go this would ease out the setup process ( Can use `go install` ) instead of manually locating the script and

[2021-10-08 10:38] lxd5866 commented on #101
--plural-exceptions="FeatureFlagSetLD:FeatureFlagSetsLD" maybe ok

[2021-10-09 21:32] #113 closed

[2021-10-28 17:21] kleimkuhler opened #135 "`groupName` defined in `types.go` is not used for fake clients"
When defining multiple APIs with the same version (say `v1`), the `+groupName` tag needs to be in `types.go` instead of `doc.go` in order to not overwrite generated types in `clientset.go`.

However, the group name defined by `+groupName` in `types.go` is not used for the `fake_xxx.go` files.

This results in trying to use test clients that have the incorrect group name and needs to be manually ed

[2021-10-29 21:52] #98 closed

[2021-11-08 13:02] MadhavJivrajani commented on #69
Could this change landing in Go 1.18 help here? 🤔
https://github.com/golang/go/issues/44435

[2021-11-08 15:47] BenTheElder commented on #69
I don't think so. That issue seems to relate to populating dependencies in the module cache more quickly. Module mode slows the generators significantly independently of that step.

[2021-11-09 20:54] 2581543189 commented on #131
/kind bug

[2021-11-09 20:55] 2581543189 commented on #131
/remove-lifecycle stale

[2021-11-15 15:43] ncdc commented on #133
I have some local changes to gengo (used by code-generator) that enables (hopefully) all generators to output files while stripping a base path prefix from the output path. For example, if your project is `github.com/foo/bar`, and you want to generate a package `github.com/foo/bar/generated`, running `$some-generator --output-base . --output-package github.com/foo/bar/generated --trim-path-prefix

[2021-11-15 16:00] ncdc commented on #133
PR: https://github.com/kubernetes/gengo/pull/221

[2021-11-15 16:00] ncdc commented on #133
/assign

[2021-11-15 16:00] ncdc commented on #133
/lifecycle active

[2021-12-06 13:41] mweibel opened #136 "go-to-protobuf: type uint8 not supported"
Having a field of type `uint8` is not supported in `go-to-protobuf` and yields the following error:
[code]

I assume https://github.com/kubernetes/code-generator/blob/master/cmd/go-to-protobuf/protobuf/generator.go#L452 would need a case for `uint8` (in the `uint` branch).

If you agree with me I can provide a PR :+1:

[2021-12-07 12:52] YTGhost commented on #106
@onkarbanerjee Hello, I want to ask you if you have solved this problem? I have encountered the same mistake as you

[2021-12-10 16:19] #121 closed

[2021-12-10 19:46] ncdc commented on #133
Sorry it took so long - just opened a PR for this in Kubernetes.

[2021-12-11 01:48] #133 closed

[2021-12-13 01:44] #130 closed

[2021-12-14 22:15] senglezou commented on #106
@zonzpoo This worked for me! Thank you so much.

Also for anyone still having issues, I had to also upgrade Go1.15 to Go1.17.

[2022-01-04 02:41] mattysweeps commented on #21
/reopen

See https://github.com/kubernetes/kubernetes/issues/79149#issuecomment-966482552
Code generator users are still running into this issue.

Either the documentation should inform users to prepare their GOPATHS with the necessary dependencies or the code-generator be improved so it no longer has this requirement.

[2022-01-04 02:43] mattysweeps commented on #21
@markmandel please consider reopening this issue. I see no evidence that it has been solved, and [users are still running into issues](https://github.com/kubernetes/kubernetes/issues/79149#issuecomment-966482552). Thank you.

[2022-01-10 10:37] #132 closed

[2022-01-22 06:43] moyuduo opened #137 "can not exec generate-groups.sh to generate code"
I predefine a type and exec generate-groups.sh to generate but just get clientset file, lister and informer not auto generated. why?

my project under `$GOPATH/src`file using go mod to manage dependency and looked like blow:
[code]
i use command `./generate-groups.sh all k8s_customize_controller/pkg/client k8s_customize_controller/pkg/apis "bolingcavalry:v1" -v 10` to generate code. output blow:
[

[2022-01-26 01:52] Aisuko commented on #106
I hit the same type issue. And I fixed this in this way(I guess it's not a solution, due to everytime go mod tidy will replace the dependencies in vendor),

[code]

And add `GOPATH=$(go env GOPATH)` to `generate-groups.sh` which in vendor dependencies `vendor/k8s.io/code-generator/generate-groups.sh`

[code]

[2022-01-26 20:04] olix0r commented on #135
/remove-lifecycle stale

[2022-02-09 13:27] SayakMukhopadhyay commented on #131
Just a heads up that I believe I ran into this issue today.

[2022-02-18 16:28] #128 closed

[2022-03-03 10:57] rmohr opened #138 "Add a way to override groups (and resources) in client extensions"
KubeVirt uses CRDs, but since CRDs don't allow arbitrary subresources, we have extension endpoints on a dedicated group `subresources.kubevirt.io` which are backed by a stateless apiservice.

For example if one wants to create a VNC connection to a VMI, the resources look like this:

GET on the VMI: `kubevirt.io/v1/virtualmaschineinstances/<namespace>/<name>`

VNC websocket connection to the VMI:

[2022-03-06 13:25] #134 closed

[2022-03-13 07:27] Icarus9913 commented on #137
Hello. How do you predefine a type? You write them by yourself or use some generation tools?

[2022-03-13 12:32] SayakMukhopadhyay commented on #131
/remove-lifecycle rotten

[2022-03-17 01:11] cognifloyd commented on #98
I just ran into this issue with v0.23.4 so this is still valid

[2022-03-17 15:45] chenyangxueHDU commented on #106
it works!

[2022-04-01 14:39] AaronMegs commented on #106
Thanks, It's helpful

[2022-04-01 15:34] AaronMegs commented on #106
Also can change
[code]
to
[code]
This is ok for me

[2022-04-06 09:12] sravyap135 opened #139 "updating go mod to v2 results in client code import path mismatch"
I am trying to update my project to support v2. I have modified go.mod module to _path_name_/v2

When trying to generate client code, import path (project api specific) doesn't reflect with v2.
Eg: <path_name>/client/clientset/versioned/scheme and not <path_name>/v2/client/clientset/versioned/scheme

I do not want to create a v2 folder to maintain only this generated client code.

Is there any spe

[2022-04-07 07:51] hackeren commented on #106
before you call update-codegen.sh, try to run 'go mod vendor' If you have used vendor

[2022-04-27 16:16] RaviHari opened #140 "clientset update generated method from code-generator is removing typemeta fields"
There is a generated code here:
https://github.com/argoproj/argo-rollouts/blob/e42b4d4b9d5a5b8f2334745aeb9b9692d09bf60c/pkg/client/clientset/versioned/typed/rollouts/v1alpha1/rollout.go#L127

The result object here doesnot populate typemeta fields and that is propagated to runtime object when returned from this update.

[2022-05-05 14:15] #136 closed

[2022-06-11 12:54] SayakMukhopadhyay commented on #131
/remove-lifecycle stale

[2022-06-16 10:50] aimuz commented on #137
/remove-lifecycle stale

[2022-06-25 22:16] #135 closed

[2022-07-01 11:09] rmohr commented on #138
/remove-lifecycle stale

[2022-07-04 14:32] TaoTi888 opened #141 "chaos-mesh.org can't generator clientset"
Hello, I use chaos-mesh.org for clientset generation, but I get an error that the '-' symbol is not supported, is there a solution?

code-generator version： v0.24.2

[2022-07-05 06:24] lentzi90 opened #142 "How to handle conversion from unversioned to versioned type?"
I'm trying to convert a `*[]string` to `*[]SecurityGroupParam` in [this PR](https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/1291). This seemed quite straight forward when going from one version to the next, but with multiple versions I seem to have found a corner case where I'm stuck.

There are 3 relevant versions: v1alpha4, v1alpha5 and v1alpha6. In v1alpha4 and v1alpha5 t

[2022-07-05 11:16] lentzi90 commented on #142
I think I figured it out. By adding the conversion function in v1alpha6 I avoided all the issues. No need to import anything extra and no need to duplicate.

[2022-07-05 11:16] #142 closed

[2022-07-10 14:00] rewanthtammana commented on #131
I faced the same issue today. Any suggestions to fix it?

[2022-07-15 12:44] ndombroski commented on #131
/assign @ndombroski

[2022-07-16 07:36] shubham-cmyk commented on #38
Using the same comment as give on the https://trstringer.com/extending-k8s-custom-controllers/
The problem was occuring due the fact that the name of  dir specified under the pkg/api wasn't same as the GroupName

[2022-07-27 18:52] devdattakulkarni commented on #106
@bingws 💯 Setting GO111MODULE=off worked for me. 👍

[2022-08-16 15:05] huchaogithup opened #143 "infomer code gen happens erros"
bash generate-groups.sh informer  ./pkg   huachaoGoTest/api/    "samplecontroller.k8s:v1" --go-header-file=./boilerplate.go.txt  -v 5 --output-base ./ 2>&1

[2022-08-16 15:06] huchaogithup commented on #143
![image](https://user-images.githubusercontent.com/44936431/184913613-0676fbf3-b645-444f-a9b0-9ef8d23c8989.png)

[2022-08-16 15:06] huchaogithup commented on #143
![image](https://user-images.githubusercontent.com/44936431/184913695-47f207a3-dcb6-4556-aa5e-901e8468fbf8.png)

[2022-08-30 17:28] tnozicka opened #144 "applyconfiguration-gen fails on a map to a structure"
Running `k8s.io/code-generator/cmd/applyconfiguration-gen` on types that contains a map to a structure fail with a templating error. (Maps to native type work fine.) Best shown on a simple reproducer:
[code]
[code]

when I remove the map it all works fine

[code]

[2022-08-30 17:29] tnozicka commented on #144
/kind bug
/sig apimachinery

[2022-09-03 12:06] #139 closed

[2022-09-08 13:00] NiclasThobaben commented on #88
Are there any updates on this one?
We have the requirement to use the generator in developer environments on windows. We also haven't found a workaround yet.

[2022-09-24 17:34] #140 closed

[2022-09-25 22:43] #106 closed

[2022-10-11 13:36] rigazilla opened #145 "generated `With<MemberName> func implies shallow copy"
We would like to use struct types generated by protoc as .Spec field in CRD.
The problem is that  protobuf messages are not copyable while `applyconfiguration-gen` generates code that implies shallow copy.

This code:
https://github.com/kubernetes/code-generator/blob/a8a213c9be7b5d38a6b76abea283eecb9f4784c2/cmd/applyconfiguration-gen/generators/applyconfiguration.go#L244

generates:
[code]

it wou

[2022-10-18 14:27] pixelsoccupied opened #146 "Generated register.go (scheme and fake in clientset) spacing is different on macOS (darwin) vs RHEL (linux)"
Code-gen version `k8s.io/code-generator v0.21.3`

When I generate to clienset on a mac there's a "tab" instead of spaces on linux in `register.go` . It's expected to be uniform across OSs.

Note that other files are working as expected.

[code]

<img width="2131" alt="diff" src="https://user-images.githubusercontent.com/19938874/196457680-ebe68b11-4d36-46c0-b61a-83723fcd48a7.png">

[2022-10-18 14:36] pixelsoccupied commented on #146
/kind bug

[2022-10-19 02:51] THMAIL commented on #106
you are my angel！！！！I love you！！！！！！！！！！！！！！！！！

[2022-10-30 23:22] tarvitz opened #147 "go-to-protobuf generated.proto reference k8s.* packages might clash with local package name"
I'm using API Aggregation over sample-apiserver extension with ```go.company.name.net/k8s/api-server``` package name.
Running go-to-protobuf works well, but it creates the following generated.proto code:

[code]

I've managed  a workaround way to fix it using one of the following ways:
1. replace `optional k8s.io...` with `optional .k8s.io...`
2. or replace `package go.company.name.net.k8s.api_ser

[2022-11-09 10:34] trinaths commented on #139
/reopen

[2022-11-13 06:07] SayakMukhopadhyay commented on #131
/remove-lifecycle rotten

[2022-11-13 12:18] #137 closed

[2022-11-16 10:09] zffocussss commented on #106
It is still not resolved when integrated with code-generator.